.calander_div {
  float: left;
  width: 100%;
  display: flex;
  border-left: none;
  border-right: none;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
  padding: 50px 5%;
}
.calander_div .calander_detail {
  float: left;
  width: 40.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.calander_div .calander_detail .record_date {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.calander_div .calander_detail .record_date span {
  font-weight: 600;
  font-size: 18px;
}
.calander_div .calander_detail h3 {
  font-weight: 300;
  margin-bottom: 20px;
}
.calander_div .calander_detail .btns_container,
.calander_div .calander_detail .time_container {
  width: 100%;
  height: auto;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calander_div .calander_detail .time_container span {
  width: auto;
  font-size: 17px;
  margin-right: 3%;
  font-weight: 600;
}
.calander_div .calander_detail .videoAdvertisment {
  float: left;
  width: 100%;
  min-height: 310px;
  max-height: 320px;
  height: auto;
  position: relative;
  height: -webkit-fill-available;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calander_div .calander_detail .videoAdvertisment img {
  width: 100%;
  height: auto;
}
.calander_div .calander_detail .videoAdvertisment iframe {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  height: 100%;
}
#calander {
  float: left;
  width: auto;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px hsl(0, 0%, 74%);
  width: 56.5%;
  background-color: hsl(0, 0%, 97%);
}
#calander .calander_top_nav {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 0%);
  padding: 7px 0;
}
#calander .calander_top_nav select {
  width: auto;
  padding: 8px 10px;
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 10px;
  margin-right: 10px;
}
#calander .curr_month {
  float: left;
  font-weight: 100;
  color: hsl(0, 0%, 20%);
  font-size: 21px;
}
#calander .chevron_icons {
  float: left;
  width: auto;
  display: flex;
}
#calander .chevron_icons span {
  padding: 6px;
  margin-right: 15px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 0%);
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calander .chevron_icons #icon_left {
  margin-right: 0;
}
#calander .chevron_icons span:hover {
  background-color: hsl(0, 0%, 2%);
  border: 1px solid hsl(0, 0%, 0%);
}
#calander .chevron_icons span:hover svg {
  fill: hsl(0, 0%, 100%);
}
#calander .chevron_icons span svg {
  width: 21px;
  height: 21px;
}
#calander .date_lists,
#calander .days_lists {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#calander .days_lists {
  margin: 10px 0 5px 0;
  color: hsl(200, 50%, 55%);
}
#calander .date_lists li,
#calander .days_lists li {
  float: left;
  width: calc(100% / 7);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 10px 0;
  font-size: 19px;
}
#calander .date_lists li.has_event {
  position: relative;
}
#calander .date_lists li .addEvent.inactive {
  display: none !important;
}
#calander .date_lists li.has_event .addEvent {
  position: absolute;
  width: 7px;
  border: none;
  border-radius: 100%;
  height: 7px;
  background-color: hsl(200, 40%, 0%) !important;
  bottom: 1.5px;
  padding: 0px;
}
#calander .date_lists li span {
  float: left;
  cursor: pointer;
  color: hsl(0, 0%, 20%);
  padding: 8px;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
#calander .date_lists li span:hover {
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 100%);
}

#calander .date_lists .focusedDate span {
  background-color: hsl(500, 40%, 30%) !important;
  color: white !important;
  border: 1px solid hsl(0, 0%, 0%);
}
#calander .date_lists .unfocusedDate span {
  color: hsl(0, 0%, 60%);
}
#calander .date_lists .focusedDate span:hover {
  background-color: hsl(500, 40%, 95%);
  color: hsl(500, 40%, 30%);
}
#calander .date_lists .currentDay span {
  background-color: hsl(0, 40%, 95%);
  color: hsl(500, 40%, 0%);
  border: 1px solid hsl(500, 40%, 0%);
}
#calander_section {
  min-height: 100vh;
}
#calander_section .calander_div {
  padding: 0;
}
#calander_section .calander_div .calander_detail .videoAdvertisment iframe {
  height: 100%;
}
.add_new_calander_gallery_container {
  width: 100%;
  margin-bottom: 60px;
}
.add_new_calander_gallery_container .btns_container {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
.add_new_calander_gallery_container form {
  width: 50%;
  display: flex;
  padding: 10px 0;
  flex-direction: column;
}
.add_new_calander_gallery_container form select,
.add_new_calander_gallery_container form input,
.add_new_calander_gallery_container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
}
.add_new_calander_gallery_container #submit_btn_container {
  width: 100%;
  margin-top: 10px;
}
.add_new_calander_gallery_container form .time_duration_div {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}
.add_new_calander_gallery_container form .time_duration_div span {
  margin-right: 10px;
}
.add_new_calander_gallery_container form select#event_start_time,
.add_new_calander_gallery_container form select#event_end_time,
.add_new_calander_gallery_container form select#event_start_time_minutes,
.add_new_calander_gallery_container form select#event_end_time_minutes {
  width: auto;
  margin: 0;
  font-size: 14px;
  margin-right: 3px;
}
.add_new_calander_gallery_container .calander_event_duration {
  margin-top: 10px;
}
.add_new_calander_gallery_container .calander_event_duration span {
  margin-right: 10px;
  font-size: 15px;
}
.add_new_calander_gallery_container .select_event_duration_type {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.add_new_calander_gallery_container
  .select_event_duration_type
  #event_duration_type {
  font-size: 14px;
  width: auto;
  margin: 0;
}
.add_new_calander_gallery_container form .time_duration_div.hidden_div {
  display: none;
}
#main_error_message_div p {
  background-color: hsl(0, 100%, 94%);
  font-size: 15px;
  padding: 10px;
}
.calander_div .calander_detail .events_list_container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
}
.calander_div .calander_detail .events_list_container .event_list {
  width: 96%;
  min-width: 96%;
  margin-right: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
  padding: 10px;
}
