#servicesSection .subSection {
  padding: 25px auto;
  margin: 30px 0;
}
#servicesSection h2 {
  font-size: 33px;
}
#servicesSection h3,
#servicesSection .offersContainer h5,
#servicesSection .offersContainer {
  float: left;
  width: 100%;
}
#servicesSection h3 {
  margin-bottom: 10px;
  font-size: 25px;
}
#servicesSection h4 {
  font-weight: 600;
  font-size: 21px;
}
.serviceListContainer {
  float: left;
  width: 100%;
  margin: 10px 0;
}
.serviceListContainer .servicesList {
  float: left;
  margin: 10px 0 20px 0;
  padding: 10px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: height ease-in 2s;
  transition: width ease-in 2s;
  border-radius: 5px;
}
.serviceListContainer .servicesList li {
  float: left;
  width: 32%;
  margin-bottom: 20px;
  padding: 10px 0;
  transition: padding ease-in-out 300ms;
  transition-delay: 100ms;
}
.serviceListContainer .servicesList li .containerPadder {
  float: left;
  cursor: pointer;
  width: 100%;
  padding: 0 0 15px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px hsl(0, 0%, 95%);
}
.serviceListContainer .servicesList li .containerPadder:hover {
  box-shadow: 0px 0px 6px 8px hsl(0, 0%, 89%);
}
.serviceListContainer .servicesList li .svgContainer {
  background: linear-gradient(90deg, #0b650b 10%, #0e810e 40%);
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceListContainer .servicesList li .svgContainer .svgDiv {
  width: 170px;
  background: linear-gradient(90deg, #00000015 10%, #0000001f 40%);
  height: 170px;
  border-radius: 100%;
  display: flex;
  padding: 10px;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}
.serviceListContainer .servicesList li .svgContainer svg {
  width: 65%;
  height: auto;
  fill: hsl(130, 100%, 91%);
}
.serviceListContainer .servicesList li .svgContainer svg.specialSvg path {
  fill: hsl(130, 100%, 91%) !important;
}
.serviceListContainer .servicesList li .svgContainer svg.specialSvg2 .cls-1,
.serviceListContainer .servicesList li .svgContainer svg.specialSvg2 .cls-2 {
  stroke: hsl(130, 100%, 100%) !important;
}
.serviceListContainer .servicesList li .li_Explanation {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10px;
  flex-wrap: wrap;
}
.serviceListContainer .servicesList li h5 {
  color: hsl(0, 0%, 30%);
  width: 100%;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 8px;
}
.serviceListContainer .servicesList li .serviceSummary {
  float: left;
  width: 100%;
  color: hsl(0, 0%, 30%);
  margin: 10px 0;
}
.serviceListContainer .servicesList button {
  float: left;
  color: hsl(200, 100%, 40%);
  border: none;
  padding: 0;
  font-size: 16px;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.serviceListContainer .servicesList button span {
  float: left;
  width: auto;
  margin-right: 3px;
}
.serviceListContainer .servicesList button svg {
  float: left;
  fill: hsl(200, 100%, 40%);
  width: 15px;
  height: 15px;
}
#servicesSection .imageDivider {
  float: left;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid hsl(0, 1%, 92%);
  margin: 20px 0;
  border-radius: 5px;
}
#servicesSection .imageDivider .imageContainer {
  float: left;
  padding: 2px;
  width: calc(96% / 4);
}
#servicesSection .imageDivider .imageContainer img {
  float: left;
  width: 100%;
  height: auto;
}
#servicesSection .imageDivider .imageContainer_Flex {
  display: flex;
  width: calc(112% / 4);
  justify-content: space-between;
  flex-direction: column;
}
.absolutePage .section .subSection .paragraphs_container {
  width: 55%;
}
.absolutePage .section .subSection .services_content_container {
  margin-top: 22px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
}
.absolutePage .section .subSection .service_gallery_container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.absolutePage .section .subSection .service_gallery_container img {
  width: 100%;
}
