/*  */
/* YELLOW - ? - #EBCA48 */
/* DARK GREEN - Pakistan Green - #0B650B */
/* LIGHT GREEN - Ao English - #0E810E */
/* SEA GREEN - Light sea green - #17C3B2 */
/* PINK - Medium violet red - #C52184 */
/* GREY - Languid lavender - #D0C4DF */
/*  */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
p,
a,
h1,
h2,
h3,
h4,
h5 {
  color: #0d1b2a;
  margin: 0;
  width: 100%;
  float: left;
  font-family: "Open Sans", sans-serif;
}
p {
  margin: 10px 0;
  font-size: 17px;
}
h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 800;
}
h2,
h3,
h4 {
  font-size: 30px;
  font-weight: 600;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
  font-weight: 500;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section {
  width: 100%;
  height: auto;
}
.subSection {
  width: 82%;
  margin: 0 auto;
  overflow: auto;
}
#heroSection,
#footerSection #logoRibbon {
  background: linear-gradient(90deg, #0b650b 10%, #0e810e 40%);
}
.siteMap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.siteMap li {
  width: 22%;
  height: 400px;
  display: block;
  position: relative;
  padding: 10px 15px;
  border: 1px solid #5d585829;
  border-top: none;
}
.siteMap li img {
  margin-top: 17.5px;
  margin-bottom: 12.5px;
}
.siteMap li h4 {
  margin-bottom: 12.5px;
}
