* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-family: "Heebo", sans-serif;
}
.section {
  width: 100%;
  height: auto;
}
.subSection {
  width: 82%;
  margin: 0 auto;
  overflow: auto;
}
h2 {
  font-size: 44px;
  line-height: 47px;
  font-weight: 800;
  padding-right: 27%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Open Sans", sans-serif;
}
.navList {
  width: 66.66666%;
  overflow: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navList li {
  width: 16.66666666666666%;
  overflow: auto;
  float: right;
  border-left: 1px solid #5d585829;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navList #aboutLi {
  border-right: 1px solid #5d585829;
}
.navList li .blueTopLine {
  width: 100%;
  height: 4px;
  background-color: #36369e;
  float: left;
}
.logoDiv {
  width: 33.33333%;
  height: auto;
  float: left;
  /* padding-top: 3%;
  padding-left: 3%; */
}
.logoDiv svg {
  width: 160px;
  float: left;
}
.logoDiv svg:hover {
  cursor: pointer;
}
.navList li:nth-of-type(2) .blueTopLine {
  background-color: #ffb060;
}
.navList li:nth-of-type(3) .blueTopLine {
  background-color: #88cefa;
}
.navList li:nth-of-type(4) .blueTopLine {
  background-color: #bfe78f;
}
.navList li:nth-of-type(5) .blueTopLine {
  background-color: #56c5bb;
}
.navList li:nth-of-type(6) .blueTopLine {
  background-color: #cecece;
}
.navList li svg {
  width: 20%;
  fill: #36369e;
  float: left;
  margin: 13px 0;
}
.navList li .dropDownDiv {
  width: 100%;
  overflow: auto;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navList li .dropDownDiv p {
  width: auto;
  float: left;
  font-weight: 800;
  font-size: 13px;
}
.navList li .dropDownDiv svg {
  margin-left: 10px;
  width: 10px;
  fill: red;
  float: left;
}
.navList li:nth-of-type(1) .dropDownDiv svg {
  display: none;
}
.navList li:nth-of-type(1) .dropDownDiv p {
  width: auto;
}
