/* DARK GREEN - Pakistan Green - #0b650b */
/* LIGHT GREEN - Ao English - #0E810E */
/* YELLOW - Selective yellow - #ffbb00 */
/* DARK YELLOW - Selective yellow - #ffbb00 */
/* BLACK - Rich black Flora - #0d1b2a */
* {
  box-sizing: border-box;
}
p,
a,
h1,
h2,
h3,
h4,
h5 {
  color: #0d1b2a;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-family: "Heebo", sans-serif;
}
.section {
  width: 100%;
  height: auto;
}
.subSection {
  width: 82%;
  margin: 0 auto;
  overflow: auto;
}
h2 {
  font-size: 44px;
  line-height: 47px;
  font-weight: 800;
  padding-right: 27%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Open Sans", sans-serif;
}
