<div class="border_Loading">
  <div class="border_loaderSpan"></div>
</div>
<div id="navbarSection" class="section">
  <div class="subSection" style="border-bottom: 1px solid hsl(0, 0%, 90%)">
    <div class="div_cont_separate">
      <div class="logo_ham_cont div_cont_separate">
        <div id="logoDiv">
          <a href="/" class="absolute_anchor"></a>
          <img src="/Media/01_navbar/logo.png" />
        </div>
        <div id="hamburger">
          <img src="/Media/01_navbar/harmburger.png" />
        </div>
      </div>
      <ul id="navBtns">
        <li id="homeLi">
          <a href="/"></a>
          <img src="/Media/00_common/home.png" />
          <div>
            <p>Home</p>
          </div>
        </li>
        <li id="learnLi">
          <img src="/Media/00_common/learn.png" />
          <div>
            <p>Learn</p>
            <svg viewBox="0 0 10 7">
              <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                <g id="Core" transform="translate(-469.000000, -9.000000)">
                  <g
                    id="arrow-drop-down"
                    transform="translate(469.000000, 9.500000)"
                  >
                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </li>

        <li id="aboutLi">
          <img src="/Media/00_common/about.png" />
          <div>
            <p>About</p>
            <svg viewBox="0 0 10 7">
              <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                <g id="Core" transform="translate(-469.000000, -9.000000)">
                  <g
                    id="arrow-drop-down"
                    transform="translate(469.000000, 9.500000)"
                  >
                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </li>
        <li id="donateLi">
          <img src="/Media/00_common/donate.png" />
          <div>
            <p>Donate</p>
            <svg viewBox="0 0 10 7">
              <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                <g id="Core" transform="translate(-469.000000, -9.000000)">
                  <g
                    id="arrow-drop-down"
                    transform="translate(469.000000, 9.500000)"
                  >
                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </li>
        <li id="<%if(currentUser){%>profileLi<%}else{%>joinLi<%}%>">
          <% if (currentUser){%>
          <img src="/Media/00_common/profile.png" />
          <%}else{%>
          <img src="/Media/00_common/join.png" />
          <%}%>
          <div>
            <%if(currentUser){%>
            <p>Profile</p>
            <%}else{%>
            <p>Join</p>
            <%}%>
            <svg viewBox="0 0 10 7">
              <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                <g id="Core" transform="translate(-469.000000, -9.000000)">
                  <g
                    id="arrow-drop-down"
                    transform="translate(469.000000, 9.500000)"
                  >
                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </li>
      </ul>
    </div>
    <ul class="phonePopUp">
      <li>
        <a href="/" class="absolute_anchor"></a>
        <img src="/Media/00_common/home.png" />
        <p>Home</p>
      </li>
      <li>
        <a href="/courses" class="absolute_anchor"></a>
        <img src="/Media/00_common/learn.png" />
        <p>Learn</p>
      </li>
      <li>
        <a href="/" class="absolute_anchor"></a>
        <img src="/Media/00_common/blog.png" />
        <p>Read</p>
      </li>
      <li>
        <a href="/board" class="absolute_anchor"></a>
        <img src="/Media/00_common/about.png" />
        <p>About</p>
      </li>
      <li>
        <a href="/donate" class="absolute_anchor"></a>
        <img src="/Media/00_common/donate.png" />
        <p>Donate</p>
      </li>
    </ul>
  </div>
  <div class="popUps" id="aboutPopUp">
    <div class="subSection">
      <div class="popupIcon">
        <img src="/Media/01_navbar/about.png" />
      </div>
      <div class="popupText">
        <h3>About</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </p>
      </div>
      <ul class="popupLink">
        <li>
          <span>
            <a href="/communication">Communication</a>
          </span>
        </li>
        <!-- <li>
                    <span>
                        <a href="/interpreters">Interpreters</a>
                    </span>
                </li> -->
        <li>
          <span>
            <a href="/board">Board & Interpreters</a>
          </span>
        </li>
        <li>
          <span>
            <a href="/services">Services</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="popUps" id="learnPopUp">
    <div class="subSection">
      <div class="popupIcon">
        <img src="/Media/01_navbar/learn.png" />
      </div>
      <div class="popupText">
        <h3>Learn</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </p>
      </div>
      <ul class="popupLink">
        <li>
          <span>
            <a href="/courses">Online lessons</a>
          </span>
        </li>
        <li>
          <span>
            <a href="/blogsAndNews">News and blogs</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="popUps" id="donatePopUp">
    <div class="subSection">
      <div class="popupIcon">
        <img src="/Media/01_navbar/donate.png" />
      </div>
      <div class="popupText">
        <h3>Donate</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </p>
      </div>
      <ul class="popupLink">
        <li>
          <span>
            <a href="/donate">Donate</a>
          </span>
        </li>
        <li>
          <span>
            <a href="/why_donate">How your donations are used</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="popUps" id="joinPopUp">
    <div class="subSection">
      <div class="popupIcon">
        <img src="/Media/00_common/join.png" />
      </div>
      <div class="popupText">
        <h3>Join</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </p>
      </div>
      <ul class="popupLink">
        <li>
          <span>
            <a href="/signIn">Sign In</a>
          </span>
        </li>
        <li>
          <span>
            <a href="/signUp">Sign Up</a>
          </span>
        </li>
        <li>
          <span>
            <a href="/community">Community</a>
          </span>
        </li>
        <!-- 
                <li>
                    <span>
                        <a href="/comments">People's Comments </a>
                    </span>
                </li>
                -->
      </ul>
    </div>
  </div>

  <div class="popUps" id="profilePopUp">
    <div class="subSection">
      <div class="popupIcon">
        <img src="/Media/00_common/profile.png" />
      </div>
      <div class="popupText">
        <h3>
          <%if(currentUser){%><%=profile.profile_name%><%}else{%>Profile<%}%>
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio.
        </p>
      </div>
      <ul class="popupLink">
        <li>
          <span id="signOut">
            <a>Sign Out</a>
          </span>
        </li>
        <li>
          <span>
            <a href="/community">Community</a>
          </span>
        </li>
        <!-- 
                <li>
                    <span>
                        <a href="/comments">People's Comments </a>
                    </span>
                </li>
                -->
      </ul>
    </div>
  </div>
</div>
<div class="absolutePage disabled">
  <div class="blackWindow"></div>
  <div class="section">
    <div class="cancelNav">
      <button>
        <svg class="cancelNavBody" viewBox="0 0 200 200">
          <title></title>
          <path
            d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z"
          ></path>
        </svg>
      </button>
    </div>
    <div class="subSection"></div>
  </div>
</div>
