<div id="navbarSection" class="section">
    <div class="subSection">
        <a href="/">
            <div id="logoDiv"><img src="Media/01_navbar/logo.png" /></div>
        </a>
        <div id="hamburger">
            <img src="Media/01_navbar/harmburger.png">
        </div>
        <ul id="navBtns">
            <li id="homeLi">
                <a href="/"></a>
                <img src="Media/00_common/home.png" />
                <div>
                    <p>Home</p>
                </div>
            </li>
            <li id="learnLi">
                <a href="/courses"></a>
                <img src="Media/00_common/learn.png" />
                <div>
                    <p>Learn</p>
                    <svg viewBox="0 0 10 7">
                        <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                            <g id="Core" transform="translate(-469.000000, -9.000000)">
                                <g id="arrow-drop-down" transform="translate(469.000000, 9.500000)">
                                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </li>
            <li id="readLi">
                <a href="/"></a>
                <img src="Media/00_common/blog.png" />
                <div>
                    <p>Read</p>
                    <svg viewBox="0 0 10 7">
                        <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                            <g id="Core" transform="translate(-469.000000, -9.000000)">
                                <g id="arrow-drop-down" transform="translate(469.000000, 9.500000)">
                                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </li>
            <li id="aboutLi">
                <a href="/board"></a>
                <img src="Media/00_common/about.png" />
                <div>
                    <p>About</p>
                    <svg viewBox="0 0 10 7">
                        <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                            <g id="Core" transform="translate(-469.000000, -9.000000)">
                                <g id="arrow-drop-down" transform="translate(469.000000, 9.500000)">
                                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </li>
            <li id="donateLi">
                <a href="/donate"></a>
                <img src="Media/00_common/donate.png" />
                <div>
                    <p>Donate</p>
                    <svg viewBox="0 0 10 7">
                        <g fill-rule="evenodd" id="Page-1" stroke-width="1">
                            <g id="Core" transform="translate(-469.000000, -9.000000)">
                                <g id="arrow-drop-down" transform="translate(469.000000, 9.500000)">
                                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </li>
        </ul>
        <ul class="phonePopUp">
            <li>
                <img src="Media/00_common/home.png">
                <p>Home</p>
            </li>
            <li>
                <img src="Media/00_common/learn.png">
                <p>Learn</p>
            </li>
            <li>
                <img src="Media/00_common/blog.png">
                <p>Read</p>
            </li>
            <li>
                <img src="Media/00_common/about.png">
                <p>Connect</p>
            </li>
            <li>
                <img src="Media/00_common/donate.png">
                <p>Donate</p>
            </li>
        </ul>
    </div>
    <div class="popUps" id="aboutPopUp">
        <div class="subSection">
            <div class="popupIcon">
                <img src="Media/01_navbar/about.png" />
            </div>
            <div class="popupText">
                <h3>About</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                    mollitia, molestiae quas vel sint commodi repudiandae consequuntur
                    voluptatum laborum numquam blanditiis harum quisquam eius sed odit
                    fugiat iusto fuga praesentium optio.
                </p>
            </div>
            <ul class="popupLink">
                <li>
                    <a href="/board">Board</a>
                </li>
                <li>
                    <a>Communication</a>
                </li>
                <li>
                    <a>Interpreters</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="popUps" id="learnPopUp">
        <div class="subSection">
            <div class="popupIcon">
                <img src="Media/01_navbar/learn.png" />
            </div>
            <div class="popupText">
                <h3>Learn</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                    mollitia, molestiae quas vel sint commodi repudiandae consequuntur
                    voluptatum laborum numquam blanditiis harum quisquam eius sed odit
                    fugiat iusto fuga praesentium optio.
                </p>
            </div>
            <ul class="popupLink">
                <li>
                    <a href="/courses">Online lessons</a>
                </li>
                <li>
                    <a>Mentors Live Chat</a>
                </li>
                <li>
                    <a>Community</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="popUps" id="readPopUp">
        <div class="subSection">
            <div class="popupIcon">
                <img src="Media/01_navbar/blog.png" />
            </div>
            <div class="popupText">
                <h3>Read</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                    mollitia, molestiae quas vel sint commodi repudiandae consequuntur
                    voluptatum laborum numquam blanditiis harum quisquam eius sed odit
                    fugiat iusto fuga praesentium optio.
                </p>
            </div>
            <ul class="popupLink">
                <li>
                    <a>Services Funding and NDIS</a>
                </li>
                <li>
                    <a>Resources Training</a>
                </li>
                <li>
                    <a>Services</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="popUps" id="donatePopUp">
        <div class="subSection">
            <div class="popupIcon">
                <img src="Media/01_navbar/donate.png" />
            </div>
            <div class="popupText">
                <h3>Donate</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                    mollitia, molestiae quas vel sint commodi repudiandae consequuntur
                    voluptatum laborum numquam blanditiis harum quisquam eius sed odit
                    fugiat iusto fuga praesentium optio.
                </p>
            </div>
            <ul class="popupLink">
                <li>
                    <a href="/donate">Donate</a>
                </li>
                <li>
                    <a>Communication</a>
                </li>
                <li>
                    <a>Interpreters</a>
                </li>
            </ul>
        </div>
    </div>
</div>