<div class="section" id="heroSection">
  <div class="subSection">
    <div>
      <h2>We help you navigate the Deaf world</h2>
      <p>
        DeafNav is a neutral, centralised portal that helps you better
        understand, access and connect with the Deaf and hard of hearing
        community.
      </p>
    </div>
  </div>
  <div id="heroImageDiv">
    <iframe
      src="https://www.youtube.com/embed/gc_gpICFL74"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
