<div class="section" id="hero_explanation">
  <div class="subSection">
    <h2 class="content_company_name">SIGN LANGUAGE INTERPRETERS TRUST</h2>
    <div class="paragraph_container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        commodi laborum, pariatur harum ratione tempore consequatur corporis
        veritatis facere, nobis dolor doloremque quia provident sequi. Veritatis
        eos illo id laborum voluptatibus quaerat consequatur laboriosam
        voluptatum odit quidem! Dolores, omnis quod?
      </p>
    </div>
  </div>
</div>
