<div id="aboutSection" class="section">
  <div class="subSection">
    <h3>Get a head start navigating the deaf space</h3>
    <ul class="navList">
      <li>
        <div class="blueTopLine"></div>
        <img class="navbarPng" src="media/01_navbar/navIcons/learn_64.png" />
        <div class="dropDownDiv">
          <p>Learn</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur
            voluptatum laborum numquam blanditiis harum quisquam eius sed odit
            fugiat iusto fuga praesentium optio.
          </p>
        </div>
      </li>
      <li>
        <div class="blueTopLine"></div>
        <img class="navbarPng" src="media/01_navbar/navIcons/blog_64.png" />
        <div class="dropDownDiv">
          <p>Read</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur
            voluptatum laborum numquam blanditiis harum quisquam eius sed odit
            fugiat iusto fuga praesentium optio.
          </p>
        </div>
      </li>
      <li>
        <div class="blueTopLine"></div>
        <img class="navbarPng" src="media/01_navbar/navIcons/about_64.png" />
        <div class="dropDownDiv">
          <p>About</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur
            voluptatum laborum numquam blanditiis harum quisquam eius sed odit
            fugiat iusto fuga praesentium optio.
          </p>
        </div>
      </li>
      <li>
        <div class="blueTopLine"></div>
        <img class="navbarPng" src="media/01_navbar/navIcons/donate_64.png" />
        <div class="dropDownDiv">
          <p>Donate</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur
            voluptatum laborum numquam blanditiis harum quisquam eius sed odit
            fugiat iusto fuga praesentium optio.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
