<div id="aboutSection" class="section">
  <h2 class="section_title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit
  </h2>
  <div class="subSection">
    <ul class="siteMap">
      <li id="learn">
        <div class="blueTopLine"></div>
        <img src="/media/00_common/learn.png" />
        <h4>Learn</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>

        <div class="about_button_more">
          <button class="svg_more">
            <span>Read More</span>
            <svg viewBox="0 0 24 24">
              <path
                d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
              ></path>
            </svg>
          </button>
        </div>
      </li>

      <li id="about">
        <div class="blueTopLine"></div>
        <img src="/media/00_common/about.png" />
        <h4>About</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
        <div class="about_button_more">
          <button class="svg_more">
            <span>Read More</span>
            <svg viewBox="0 0 24 24">
              <path
                d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
              ></path>
            </svg>
          </button>
        </div>
      </li>

      <li id="donate">
        <div class="blueTopLine"></div>
        <img src="/media/00_common/donate.png" />
        <h4>Donate</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
        <div class="about_button_more">
          <button class="svg_more">
            <span>Read More</span>
            <svg viewBox="0 0 24 24">
              <path
                d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
              ></path>
            </svg>
          </button>
        </div>
      </li>
      <%if(!currentUser){%>
      <li id="join">
        <div class="blueTopLine"></div>
        <img src="/media/00_common/join.png" />
        <h4>Join</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
        <div class="about_button_more">
          <button class="svg_more">
            <span>Read More</span>
            <svg viewBox="0 0 24 24">
              <path
                d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
              ></path>
            </svg>
          </button>
        </div>
      </li>
      <%}else{%>
      <li id="profile">
        <div class="blueTopLine"></div>
        <img src="/Media/00_common/profile.png" />
        <h4>Profile</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
        <div class="about_button_more">
          <button class="svg_more">
            <span>Read More</span>
            <svg viewBox="0 0 24 24">
              <path
                d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
              ></path>
            </svg>
          </button>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
</div>
