<div id="aboutSection" class="section">
  <div class="subSection">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
    <ul class="siteMap">
      <li>
        <div class="blueTopLine"></div>
        <img src="/media/00_common/learn.png" />
        <h4>Learn</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
      </li>
      <li>
        <div class="blueTopLine"></div>
        <img src="/media/00_common/blog.png" />
        <h4>Read</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
      </li>
      <li>
        <div class="blueTopLine"></div>
        <img src="/media/00_common/about.png" />
        <h4>About</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
      </li>
      <li>
        <div class="blueTopLine"></div>
        <img src="/media/00_common/donate.png" />
        <h4>Donate</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas.
        </p>
        <p>
          Sint commodi repudiandae consequuntur voluptatum laborum numquam
          blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio.
        </p>
      </li>
    </ul>
  </div>
</div>