<div id="newsSection" class="section">
  <div class="subSection">
    <div id="newsImageDiv">
      <img src="media/04_news/newsImage1.png" />
    </div>
    <div id="newsContent">
      <h3>COVID-19 Deaf Community Resources</h3>
      <p>
        Access the range of COVID-19 resources that are accessible and relevant
        to the Deaf Community. They have been created by or with governments and
        reputable deaf sector organisations.
      </p>
      <div>
        Click here to view COVID-19 information in Auslan and other relevant to
        the Deaf Community
      </div>
    </div>
  </div>
</div>
