<div id="newsSection" class="section">
  <div class="subSection">
    <img src="media/04_news/newsImage1.png" />
    <div id="newsContent">
      <h3>Lorem ipsum dolor sit amet consectetur.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
        mollitia, molestiae quas vel sint commodi repudiandae consequuntur
        voluptatum laborum numquam blanditiis harum quisquam eius sed odit
        fugiat iusto fuga praesentium optio.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
        mollitia, molestiae quas vel sint commodi repudiandae consequuntur
        voluptatum laborum numquam blanditiis harum quisquam eius sed odit
        fugiat iusto fuga praesentium optio.
      </p>
    </div>
  </div>
</div>
