<div id="footerSection" class="section">
  <div id="logoRibbon">
    <img src="media/05_footer/slit_white.png" />
    <img id="byoWebsitesLogo" src="media/05_footer/byo_websites.png" />
  </div>
  <div class="subSection">
    <ul class="siteMap">
      <li>
        <img src="media/05_footer/learn.png" />
        <a>Link one</a>
        <a>Link 2</a>
        <a>Link Three khonalapho</a>
      </li>
      <li>
        <img src="media/05_footer/blog.png" />
        <a>Link one</a>
        <a>Link Three khonalapho</a>
        <a>Link 2</a>
        <a>Link four four</a>
      </li>
      <li>
        <img src="media/05_footer/about.png" />
        <a>Link one</a>
        <a>Link Three khonalapho</a>
        <a>Link four four</a>
        <a>Link 2</a>
        <a>Link four four</a>
      </li>
      <li>
        <img src="media/05_footer/donate.png" />
        <a>Link one</a>
        <a>Link Three khonalapho</a>
        <a>Link four four</a>
        <a>Link four four</a>
        <a>Link 2</a>
        <a>Link four four</a>
      </li>
    </ul>
  </div>
</div>
