<div id="footerSection" class="section">
  <div id="logoRibbon">
    <img src="media/01_navbar/slit_colour.png" />
    <h4>Sign Language Intepreters Trust ( SLIT )</h4>
  </div>
  <div class="subSection">
    <ul class="siteMap">
      <li>
        <img src="media/00_common/learn.png" />
        <a>Link one</a>
        <a>Link 2</a>
        <a>Link Three khonalapho</a>
      </li>
      <li>
        <img src="media/00_common/blog.png" />
        <a>Link one</a>
        <a>Link Three khonalapho</a>
        <a>Link 2</a>
        <a>Link four four</a>
      </li>
      <li>
        <img src="media/00_common/about.png" />
        <a>Link one</a>
        <a>Link Three khonalapho</a>
        <a>Link four four</a>
        <a>Link 2</a>
        <a>Link four four</a>
      </li>
      <li>
        <img src="media/00_common/donate.png" />
        <a>Link one</a>
        <a>Link Three khonalapho</a>
        <a>Link four four</a>
        <a>Link four four</a>
        <a>Link 2</a>
        <a>Link four four</a>
      </li>
    </ul>
  </div>
</div>
