<div id="footerSection" class="section">
  <div id="logoRibbon">
    <img src="/media/05_footer/slit_white.png" />
    <img id="byoWebsitesLogo" src="/media/05_footer/byo_websites.png" />
  </div>
  <div class="subSection">
    <div class="company_information">
      <div class="company_socials">
        <div class="socials_icons">
          <button class="social_container">
            <svg viewBox="0 0 56.7 56.7">
              <g>
                <path
                  d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
             c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"
                ></path>
                <circle cx="41.5" cy="16.4" r="2.9"></circle>
                <path
                  d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
             h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
             s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
             c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"
                ></path>
              </g>
            </svg>
          </button>
          <button class="social_container">
            <svg viewBox="0 0 102 146">
              <path
                d="M83.1334 36.3337C85.3486 36.0652 87.6333 35.9582 89.8425 35.8539C90.726 35.8125 91.6094 35.771 92.4928 35.7225C96.2924 35.5006 98.8081 33.4464 99.3935 30.0872C101 20.8788 101.045 13.3618 99.5386 6.42958C98.7858 2.9674 96.507 1.15716 93.1518 1.31797C89.8261 1.48139 86.4283 1.58045 83.142 1.67562C74.6883 1.92109 65.9456 2.17441 57.5103 3.55009C42.4553 6.0048 33.0289 15.5107 30.9628 30.3177C30.448 34.6136 30.1768 38.9354 30.1509 43.262C30.1082 44.9816 30.0643 46.7603 29.9888 48.5009C29.9323 49.8051 29.9461 51.1309 29.9606 52.5335C29.9658 53.0251 29.9711 53.5309 29.973 54.0592C28.5829 54.1065 27.2466 54.1506 25.949 54.1906C22.6535 54.297 19.5412 54.3975 16.4636 54.5451L15.1116 54.6066C12.3981 54.6791 9.69048 54.9006 7.00119 55.2697C3.16227 55.869 1.73806 57.4402 1.55363 61.2732C1.26353 67.3772 0.96812 74.4715 1.13549 81.497C1.27791 87.4697 3.94138 89.9637 10.3288 90.1042C12.9542 90.1606 15.617 90.0839 18.1918 90.0077C19.8142 89.9598 21.4918 89.9099 23.1379 89.8955C24.1214 89.8968 25.104 89.9513 26.0816 90.0583C26.3441 90.0812 26.6067 90.1042 26.8567 90.1239C26.9224 90.2913 26.9781 90.4396 27.0306 90.5741C27.1317 90.7835 27.2026 91.006 27.2407 91.2357C27.2985 105.192 27.3556 120.068 27.3674 135.008C27.3733 142.17 29.1034 144.016 36.1846 144.412C41.9729 144.736 47.8674 144.782 53.5638 144.826L55.7435 144.843C55.9404 144.843 56.1268 144.843 56.3132 144.843C64.625 144.843 66.3036 143.147 67.3216 134.345C67.5185 132.76 67.6307 131.167 67.6576 129.57C67.7384 120.644 67.7896 111.573 67.8408 102.798L67.8565 99.9302C67.8664 98.1548 67.8651 96.3801 67.8618 94.4406V92.1152C69.4009 92.1152 70.8671 92.1185 72.2822 92.1205C75.7608 92.127 79.0385 92.1316 82.2585 92.1067C86.9428 92.0706 90.3315 89.7931 91.805 85.6943C94.0116 79.549 96.127 72.8143 98.2725 65.1074C98.8265 63.1167 98.6092 61.3882 97.6438 60.1063C96.6494 58.7858 94.9698 58.0775 92.7869 58.0598C88.9237 58.0282 84.9915 58.1732 81.194 58.313C79.2144 58.3858 77.2343 58.4582 75.2561 58.5101C73.7852 58.5468 72.2868 58.5376 70.835 58.5271C70.3375 58.5235 69.84 58.5208 69.3438 58.519C69.2552 58.179 69.1731 57.8752 69.097 57.6002C68.9185 57.0101 68.7813 56.4085 68.6861 55.7995C68.522 54.7391 68.4741 53.6638 68.5437 52.593C69.498 43.2153 70.6466 37.8386 83.1334 36.3337ZM85.9793 69.0056L82.4863 81.3769L78.7878 81.4379C75.8586 81.4852 72.993 81.5318 70.1248 81.5882C58.5309 81.8192 57.0023 83.2678 56.4891 94.5109C56.1406 102.133 56.0992 109.89 56.0585 117.391C56.0421 120.552 56.025 123.713 55.9863 126.871C55.9647 128.664 55.9699 130.457 55.9758 132.332C55.9758 133.043 55.9804 133.765 55.9817 134.503C50.6037 135.453 45.7507 135.124 40.6234 134.776C40.052 134.738 39.4775 134.7 38.8999 134.662C38.8539 134.375 38.8054 134.096 38.7588 133.822C38.5965 133 38.4917 132.168 38.445 131.332C38.2932 126.068 38.1521 120.802 38.0217 115.537C37.7972 106.808 37.5655 97.7834 37.2583 88.9077C37.001 81.4314 35.25 79.8758 27.3812 80.0918C23.6998 80.1974 20.0564 80.4022 16.1998 80.6168C14.6935 80.7022 13.1642 80.7881 11.6015 80.8702V65.2894C11.9611 65.2409 12.3189 65.189 12.6739 65.1378C13.8122 64.9514 14.9596 64.8257 16.1112 64.7616C18.1176 64.6868 20.1634 64.6534 22.1416 64.6219C25.0295 64.5746 28.0099 64.5261 30.9443 64.3482C38.3354 63.9006 39.7393 62.4394 39.7735 55.154C39.7846 53.0222 39.7702 50.8881 39.7564 48.7576C39.7347 45.3335 39.7124 41.793 39.7951 38.3184C39.8967 36.094 40.1361 33.8782 40.5118 31.6835L40.7008 30.4071C42.0922 20.8534 48.0459 14.9674 58.9037 12.4122L59.6289 12.2376C60.856 11.888 62.1184 11.6771 63.3924 11.6088C69.7192 11.5498 75.957 11.5584 82.5624 11.5649C84.6417 11.5675 86.7426 11.5692 88.8639 11.57C90.0637 16.3265 89.4172 21.2425 88.564 25.5015C87.695 25.6564 86.8253 25.8094 85.9537 25.9608C83.7517 26.3441 81.4742 26.7407 79.2394 27.1962C66.9757 29.6903 61.3978 35.8066 59.9854 48.2974C59.9093 48.9787 59.8285 49.6607 59.7491 50.3433C59.3625 53.6427 58.9615 57.055 58.8959 60.4339C58.7817 66.3061 60.8143 68.4726 66.662 68.7141C69.9785 68.8513 73.3468 68.789 76.6035 68.7292C78.4045 68.6958 80.2666 68.6636 82.0958 68.6636C83.0271 68.682 83.9571 68.7548 84.8799 68.8815C85.2258 68.9196 85.5888 68.9616 85.98 69.0036L85.9793 69.0056Z"
                fill=""
              ></path>
            </svg>
          </button>
          <button class="social_container">
            <svg viewBox="0 0 24 24">
              <g>
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 9.55C12.917 8.613 14.111 8 15.5 8a5.5 5.5 0 0 1 5.5 5.5V21h-2v-7.5a3.5 3.5 0 0 0-7 0V21h-2V8.5h2v1.05zM5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-1 2h2V21H4V8.5z"
                ></path>
              </g>
            </svg>
          </button>
          <button class="social_container">
            <svg viewBox="0 0 512 512">
              <g>
                <g>
                  <path
                    d="M265,96c65.3,0,118.7,1.1,168.1,3.3l0.7,0h0.7c23.1,0,42,22,42,49.1v1.1l0.1,1.1c2.3,34,3.4,69.3,3.4,104.9v0v0    c0.1,35.6-1.1,70.9-3.4,104.9l-0.1,1.1v1.1c0,13.8-4.7,26.6-13.4,36.1c-7.8,8.6-18,13.4-28.6,13.4h-0.8l-0.8,0    c-52.9,2.5-108.8,3.8-166.4,3.8c-3.5,0-7.1,0-10.6,0H256h-0.1c-3.6,0-7.2,0-10.8,0c-57.8,0-113.7-1.3-166.2-3.7l-0.8,0h-0.8    c-10.6,0-20.7-4.8-28.5-13.4c-8.6-9.5-13.4-22.3-13.4-36.1v-1.1l-0.1-1.1c-2.4-34.1-3.5-69.4-3.3-104.7v-0.1v-0.1    c-0.1-35.3,1-70.5,3.3-104.6l0.1-1.1v-1.1c0-27.2,18.8-49.3,41.9-49.3H78l0.7,0c49.5-2.3,102.9-3.3,168.2-3.3h9H265 M265,64    c-3,0-6,0-9,0s-6,0-9,0c-57.6,0-114.2,0.8-169.6,3.3c-40.8,0-73.9,36.3-73.9,81.3C1,184.4-0.1,220,0,255.7    c-0.1,35.7,0.9,71.3,3.4,107c0,45,33.1,81.6,73.9,81.6c54.8,2.6,110.7,3.8,167.8,3.8c3.6,0,7.3,0,10.9,0c3.6,0,7.2,0,10.7,0    c57.1,0,113-1.2,167.9-3.8c40.9,0,74-36.6,74-81.6c2.4-35.7,3.5-71.4,3.4-107.1c0.1-35.7-1-71.3-3.4-107.1c0-45-33.1-81.1-74-81.1    C379.2,64.8,322.7,64,265,64L265,64z"
                  ></path>
                </g>
                <g><path d="M207,353.8V157.4l145,98.2L207,353.8z"></path></g>
              </g>
            </svg>
          </button>
          <button class="social_container">
            <svg viewBox="0 0 24 24">
              <path
                d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="company_contact">
        <div class="contact_nos">
          <svg
            class="feather feather-phone"
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="24"
          >
            <path
              d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
            ></path>
          </svg>
          <span>077356499/ 056985555</span>
        </div>
        <div class="whatsapp_nos">
          <svg
            viewBox="0 0 56.693 56.693"
            style="
              anchor-name: NONE;
              stroke: hsl(120, 100%, 100%);
              fill: hsl(0, 0%, 100%);
            "
          >
            <style type="text/css">
              .st0 {
                fill-rule: evenodd;
                clip-rule: evenodd;
              }
            </style>
            <g>
              <path
                class="st0"
                d="M46.3802,10.7138c-4.6512-4.6565-10.8365-7.222-17.4266-7.2247c-13.5785,0-24.63,11.0506-24.6353,24.6333   c-0.0019,4.342,1.1325,8.58,3.2884,12.3159l-3.495,12.7657l13.0595-3.4257c3.5982,1.9626,7.6495,2.9971,11.7726,2.9985h0.01   c0.0008,0-0.0006,0,0.0002,0c13.5771,0,24.6293-11.0517,24.635-24.6347C53.5914,21.5595,51.0313,15.3701,46.3802,10.7138z    M28.9537,48.6163h-0.0083c-3.674-0.0014-7.2777-0.9886-10.4215-2.8541l-0.7476-0.4437l-7.7497,2.0328l2.0686-7.5558   l-0.4869-0.7748c-2.0496-3.26-3.1321-7.028-3.1305-10.8969c0.0044-11.2894,9.19-20.474,20.4842-20.474   c5.469,0.0017,10.6101,2.1344,14.476,6.0047c3.8658,3.8703,5.9936,9.0148,5.9914,14.4859   C49.4248,39.4307,40.2395,48.6163,28.9537,48.6163z"
              ></path>
              <path
                class="st0"
                d="M40.1851,33.281c-0.6155-0.3081-3.6419-1.797-4.2061-2.0026c-0.5642-0.2054-0.9746-0.3081-1.3849,0.3081   c-0.4103,0.6161-1.59,2.0027-1.9491,2.4136c-0.359,0.4106-0.7182,0.4623-1.3336,0.1539c-0.6155-0.3081-2.5989-0.958-4.95-3.0551   c-1.83-1.6323-3.0653-3.6479-3.4245-4.2643c-0.359-0.6161-0.0382-0.9492,0.27-1.2562c0.2769-0.2759,0.6156-0.7189,0.9234-1.0784   c0.3077-0.3593,0.4103-0.6163,0.6155-1.0268c0.2052-0.4109,0.1027-0.7704-0.0513-1.0784   c-0.1539-0.3081-1.3849-3.3379-1.8978-4.5706c-0.4998-1.2001-1.0072-1.0375-1.3851-1.0566   c-0.3585-0.0179-0.7694-0.0216-1.1797-0.0216s-1.0773,0.1541-1.6414,0.7702c-0.5642,0.6163-2.1545,2.1056-2.1545,5.1351   c0,3.0299,2.2057,5.9569,2.5135,6.3676c0.3077,0.411,4.3405,6.6282,10.5153,9.2945c1.4686,0.6343,2.6152,1.013,3.5091,1.2966   c1.4746,0.4686,2.8165,0.4024,3.8771,0.2439c1.1827-0.1767,3.6419-1.489,4.1548-2.9267c0.513-1.438,0.513-2.6706,0.359-2.9272   C41.211,33.7433,40.8006,33.5892,40.1851,33.281z"
              ></path>
            </g>
          </svg>
          <span>0778954555</span>
        </div>
        <div class="email_address">
          <svg viewBox="0 0 178 144">
            <g clip-path="url(#clip0)">
              <path
                d="M176.582 68.1415C176.193 60.8736 175.883 53.4759 175.581 46.3229C175.288 39.3568 174.985 32.1533 174.609 25.0713C174.065 14.7867 168.774 7.29417 159.308 3.40359C155.965 2.0307 151.852 1.30472 146.741 1.18222C133.204 0.860342 119.439 0.711559 106.126 0.56691C101.387 0.515217 96.649 0.46112 91.9115 0.40465C91.7922 0.305737 91.6424 0.251378 91.4875 0.251299H80.4525C71.4852 0.251299 62.5185 0.253954 53.5531 0.258298C51.9122 0.258298 50.266 0.254587 48.6257 0.250025C43.6943 0.233084 38.5944 0.219024 33.5787 0.401468C26.7308 0.649721 21.4578 1.98858 16.9854 4.61576C7.92797 9.93791 3.09649 17.5349 2.62514 27.1972C2.37682 32.2854 2.29317 37.4607 2.21277 42.4661L2.16026 45.6C2.08765 49.801 2.01178 54.001 1.93268 58.2003C1.67788 72.0374 1.414 86.3455 1.30962 100.423C1.26747 106.027 1.55015 112.656 3.96137 119.34C7.52729 129.227 14.1048 135.618 24.07 138.88C33.3414 141.843 43.0098 143.363 52.7388 143.384C76.9223 143.698 102.288 143.846 132.141 143.846H137.94C143.426 143.94 148.903 143.344 154.242 142.073C166.482 138.926 173.735 131.387 175.801 119.662C176.458 115.685 176.914 111.676 177.168 107.652C178.062 95.4416 177.391 83.0674 176.742 71.0991L176.582 68.1415ZM63.4885 132.736C53.0131 132.704 41.8199 132.306 30.9451 129.625C26.5694 128.547 23.4398 127.284 20.9391 125.576L74.9078 75.696L76.4146 77.325C77.9162 78.9494 79.4664 80.6259 81.0322 82.2874C85.5641 87.0981 90.0105 87.4923 95.0223 83.5293C97.073 81.9089 99.0213 80.0753 100.905 78.3082C101.619 77.6371 102.34 76.9614 103.071 76.2889L155.893 129.871C154.067 131.379 151.86 131.695 149.535 132.028L148.867 132.124C146.37 132.458 143.852 132.613 141.332 132.587L126.557 132.641C105.884 132.718 84.5106 132.799 63.4885 132.736ZM145.959 21.38C138.055 28.5507 129.883 35.9648 122.091 43.5212C114.315 51.0613 106.691 58.9635 99.317 66.6077C96.2652 69.7718 93.1142 73.0388 90.0027 76.2264L24.3676 11.5338C24.8374 11.4082 25.3036 11.2814 25.7661 11.1532C27.5555 10.6639 29.2458 10.2004 30.9723 9.85959C39.5572 8.16547 48.3961 8.39587 56.9447 8.62197C58.8541 8.67149 60.7628 8.72049 62.6709 8.75176C65.5742 8.79737 68.5293 8.89466 71.386 8.98914C73.8672 9.07058 76.4327 9.15529 78.9594 9.20546C86.0647 9.34666 93.1699 9.48219 100.276 9.61211C115.635 9.90011 131.517 10.1989 147.134 10.5755C149.33 10.6973 151.513 11.0061 153.657 11.4988C154.499 11.6675 155.373 11.8407 156.24 11.9919V12.0135C152.824 15.1509 149.335 18.3175 145.957 21.3826L145.959 21.38ZM35.4148 100.077C28.8321 106.367 22.0329 112.866 15.4579 119.507C12.7271 113.032 11.3117 107.718 10.8903 102.389C9.72326 87.6069 10.2082 72.8929 10.8086 59.0891C11.0829 52.7942 11.1924 46.3916 11.2988 40.1996C11.3714 35.9904 11.4466 31.6377 11.5724 27.3633C11.702 22.8296 13.2107 19.6483 16.5848 16.8367L67.8693 67.4697C57.429 79.036 46.2384 89.7318 35.411 100.082L35.4148 100.077ZM164.703 118.401C164.463 119.7 164.142 120.982 163.742 122.24C163.598 122.728 163.454 123.217 163.318 123.706L163.112 123.775L108.749 70.5361C127.542 51.0534 145.364 34.4378 163.19 19.7771C163.266 20.1218 163.344 20.4573 163.421 20.7844C163.738 21.9717 163.949 23.1849 164.051 24.4102C164.652 36.7407 165.142 48.9096 165.502 58.1347C165.84 66.7915 166.128 75.3324 166.358 83.5222C166.647 93.8921 166.679 106.148 164.699 118.404L164.703 118.401Z"
                fill=""
              ></path>
            </g>
            <defs style="width: 20px; height: 100px">
              <clipPath id="clip0" style="width: 100%; height: 100%">
                <rect
                  fill="white"
                  height="144"
                  transform="translate(0.777344)"
                  width="177"
                  style="width: 179px; height: 145px"
                ></rect>
              </clipPath>
            </defs>
          </svg>
          <span>nameOfXul_health@gmail.com</span>
        </div>
      </div>
    </div>
    <ul class="siteMap">
      <li>
        <img src="/media/05_footer/learn.png" />
        <span>
          <a>Link one</a>
        </span>
        <span>
          <a>Link 2</a>
        </span>
        <span>
          <a>Link Three khonalapho</a>
        </span>
      </li>
      <li>
        <img src="/media/05_footer/blog.png" />
        <span>
          <a>Link one</a>
        </span>
        <span>
          <a>Link 2</a>
        </span>
        <span>
          <a>Link Three khonalapho</a>
        </span>
      </li>
      <li>
        <img src="/media/05_footer/about.png" />
        <span>
          <a>Link one</a>
        </span>
        <span>
          <a>Link 2</a>
        </span>
        <span>
          <a>Link Three khonalapho</a>
        </span>
      </li>
      <li>
        <img src="/media/05_footer/donate.png" />
        <span>
          <a>Link one</a>
        </span>
        <span>
          <a>Link 2</a>
        </span>
        <span>
          <a>Link Three khonalapho</a>
        </span>
      </li>
    </ul>
  </div>
</div>
