<div class="section" id="coursesSection">
  <div class="subSection">
    <h2>Commodi repudiandae consequuntur voluptatum laborum.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum
      laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga
      praesentium optio.
    </p>
    <div class="ctaBtn01">
      <p>Start Course</p>
      <svg viewBox="0 0 512 512">
        <polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " />
      </svg>
    </div>
    <p id="progressText">Your progress : <span>10%</span></p>
    <div id="progressBar"></div>
    <div class="courseDiv">
      <h3>Course 1 | <span>Sint commodi repudiandae consequuntur</span></h3>
      <ul>
        <li class="lesson">
          <a href="/courses/C01L01S01"></a>
          <img src="/media/08_chapters/firstImage.jpg" />
          <h5>Lesson 1</h5>
          <h4>Maxime mollitia, molestiae quas</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur.
          </p>
        </li>
        <li class="lesson">
          <a href="/courses/C01L01S01"></a>
          <img src="/media/08_chapters/secondImage.jpg" />
          <h5>Lesson 2</h5>
          <h4>Lorem ipsum dolor sit</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
