<div class="section" id="chaptersSection">
    <div class="subSection">
        <h3>Basic Bible Teachings</h3>
        <p>In this course, youll get the answers to some of lifes most important questions: Who is God? Why do
            suffering and evil
            exist? Will God ever bring an end to suffering?</p>
        <div class="startCourseDiv">
            <p>Start Course</p>
            <svg viewBox="0 0 512 512">
                <polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " />
            </svg>
        </div>
        <div class="progressBar">
            <p>You Progress : <span>10%</span></p>
            <div id="progress"></div>
        </div>
        <div class="chaptersNumber">
            <div class="chaptersHeading">
                <h4>Unit 1</h4>
                <p>| The Bible And Its Author</p>
            </div>
            <ul class="chapterBoxes">
                <li>
                    <div class="imageDiv">
                        <img src="Media/08_chapters/firstImage.jpg">
                    </div>
                    <div class="lesson">Lesson 1.1</div>
                    <div class="chaptersHeading">About The Bible - Can The Bible Help You</div>
                    <p>Althought the bible is an ancien book, It contains practical advice for today and a wonderful
                        hope for the future.</p>
                </li>
                <li>
                    <div class="imageDiv">
                        <img src="Media/08_chapters/secondImage.jpg">
                    </div>
                    <div class="lesson">Lesson 1.2</div>
                    <div class="chaptersHeading"> Who Is God, the Creator</div>
                    <p>Two key facts about the God of the bible can help you find the satisfying answers to this
                        question</p>
                </li>
            </ul>
        </div>
    </div>
</div>