<div class="section" id="introductionSection">
    <div class="subSection">
        <h2>Online Bible Lessons</h2>
        <div id="explanation">
            <div class="displayNav">
                <h3>How Do The Lessons Work?</h3>
                <svg viewBox="0 0 512 512">
                    <polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " />
                </svg>
            </div>
            <div class="belowNav">
                <div class="introductionVideo">
                    <iframe src="https://www.youtube.com/embed/gc_gpICFL74" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="explanationContent">
                    <p><b>These free online Bible study</b> lessons are for everyone. You dont need to be religious
                        to benefit from them—all you need
                        is a desire to learn.</p>
                    <p>The entire interactive Bible study course, including access to an online Bible and
                        supplementary materials, is free of
                        charge. You wont need to register or provide personal information. The lessons are
                        self-guided, so you can progress at
                        your own pace. Learn about the Bible and what it really teaches.</p>
                </div>
            </div>
        </div>

    </div>
</div>