<div class="horizontalNav tabsLists">
  <span><a href="/communication">Communication</a></span>
  <span class="pageChoosen"><a href="/board">Board & Interpreters</a></span>
  <span><a href="/services">Services</a></span>
</div>

<div class="section" id="boardSection">
  <div class="pageHero">
    <div class="contentContainer">
      <h2>Board Members</h2>
      <p>Behind every good cause, is a good leader</p>
    </div>
    <div class="imageHeroContainer">
      <div class="imageDivider">
        <div class="imageContainer">
          <img
            src="./Media/SLIT_IMAGES/young-businesswoman-working-new-project.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="coloredPortion"></div>
    </div>
  </div>
  <div class="subSection">
    <h2>Commodi repudiandae consequuntur voluptatum laborum.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum
      laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga
      praesentium optio.
    </p>
    <ul>
      <li>
        <div class="videoDiv">
          <iframe
            class="iframeYoutube"
            src="https://www.youtube.com/embed/gc_gpICFL74"
            frameborder="0"
            allowfullscreen
          ></iframe>
          <div class="loader"></div>
        </div>
        <h4>
          <span class="bold">Jmmy Parson Klaver -</span>
          <span>Vice President</span>
        </h4>
        <div class="boardBiography open">
          <h5>
            <span>Biography</span>
            <div class="svgContainer open_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowUpAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 10.62-1.4 1.4L9 6.45l-5.59 5.59-1.4-1.41 7-7 7 7Z"
                ></path>
              </svg>
            </div>
            <div class="svgContainer closed_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowUpAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 10.62-1.4 1.4L9 6.45l-5.59 5.59-1.4-1.41 7-7 7 7Z"
                ></path>
              </svg>
            </div>
          </h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus,
            dolorem veritatis. Dolorum, natus aut repellendus fugiat dolores
            odit commodi dolor aliquid! Quas, in! Voluptate consequuntur facilis
            fuga rerum, ducimus placeat.
          </p>
        </div>
        <div class="boardBiography closed">
          <h5>
            <span>Interest In Sign Language</span>
            <div class="svgContainer closed_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowDownAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7 7-7Z"
                ></path>
              </svg>
            </div>
            <div class="svgContainer open_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowUpAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 10.62-1.4 1.4L9 6.45l-5.59 5.59-1.4-1.41 7-7 7 7Z"
                ></path>
              </svg>
            </div>
          </h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
            laudantium animi est quidem natus facilis libero voluptatum
            aspernatur perspiciatis laborum saepe quae nihil at, facere labore
            ab recusandae eos. Quaerat.
          </p>
        </div>
        <div class="boardBiography">
          <h5><span>Socials</span></h5>
          <div class="socialsDiv">
            <button>Facebook</button>
            <button>X</button>
            <button>Instagram</button>
          </div>
        </div>
      </li>
      <li>
        <div class="videoDiv">
          <iframe
            class="iframeYoutube"
            src="https://www.youtube.com/embed/gc_gpICFL74"
            frameborder="0"
            allowfullscreen
          ></iframe>
          <div class="loader"></div>
        </div>
        <h4>
          <span class="bold">Jmmy Parson Klaver -</span>
          <span>Vice President</span>
        </h4>
        <div class="boardBiography open">
          <h5>
            <span>Biography</span>
            <div class="svgContainer open_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowUpAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 10.62-1.4 1.4L9 6.45l-5.59 5.59-1.4-1.41 7-7 7 7Z"
                ></path>
              </svg>
            </div>
            <div class="svgContainer closed_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowUpAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 10.62-1.4 1.4L9 6.45l-5.59 5.59-1.4-1.41 7-7 7 7Z"
                ></path>
              </svg>
            </div>
          </h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus,
            dolorem veritatis. Dolorum, natus aut repellendus fugiat dolores
            odit commodi dolor aliquid! Quas, in! Voluptate consequuntur facilis
            fuga rerum, ducimus placeat.
          </p>
        </div>
        <div class="boardBiography closed">
          <h5>
            <span>Interest In Sign Language</span>
            <div class="svgContainer closed_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowDownAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 7.43-1.4-1.41L9 11.6 3.42 6l-1.4 1.42 7 7 7-7Z"
                ></path>
              </svg>
            </div>
            <div class="svgContainer open_svg">
              <svg
                aria-hidden="true"
                class="svg-icon topic_dropDown iconArrowUpAlt"
                width="18"
                height="18"
                viewBox="0 0 18 18"
              >
                <path
                  d="m16.01 10.62-1.4 1.4L9 6.45l-5.59 5.59-1.4-1.41 7-7 7 7Z"
                ></path>
              </svg>
            </div>
          </h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
            laudantium animi est quidem natus facilis libero voluptatum
            aspernatur perspiciatis laborum saepe quae nihil at, facere labore
            ab recusandae eos. Quaerat.
          </p>
        </div>
        <div class="boardBiography">
          <h5><span>Socials</span></h5>
          <div class="socialsDiv">
            <button>Facebook</button>
            <button>X</button>
            <button>Instagram</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
