<div class="section" id="boardSection">
  <div class="subSection">
    <h2>Commodi repudiandae consequuntur voluptatum laborum.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum
      laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga
      praesentium optio.
    </p>
    <ul>
      <li>
        <div class="videoDiv">
          <iframe
            src="https://www.youtube.com/embed/gc_gpICFL74"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <h4>Joanne Klaver - <span>President</span></h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus,
          dolorem veritatis. Dolorum, natus aut repellendus fugiat dolores odit
          commodi dolor aliquid! Quas, in! Voluptate consequuntur facilis fuga
          rerum, ducimus placeat.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
          laudantium animi est quidem natus facilis libero voluptatum aspernatur
          perspiciatis laborum saepe quae nihil at, facere labore ab recusandae
          eos. Quaerat.
        </p>
      </li>
      <li>
        <div class="videoDiv">
          <iframe
            src="https://www.youtube.com/embed/gc_gpICFL74"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <h4>Anton Sammons - <span>Chairperson</span></h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus,
          dolorem veritatis. Dolorum, natus aut repellendus fugiat dolores odit
          commodi dolor aliquid! Quas, in! Voluptate consequuntur facilis fuga
          rerum, ducimus placeat.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
          laudantium animi est quidem natus facilis libero voluptatum aspernatur
          perspiciatis laborum saepe quae nihil at, facere labore ab recusandae
          eos. Quaerat.
        </p>
      </li>
    </ul>
  </div>
</div>
