<div class="section" id="boardSection">
    <div class="subSection">
        <div class="level">
            <h5>These are slit.org board Members</h5>
            <ul class="oneMember">
                <li>
                    <div class="videoDiv">
                        <iframe src="https://www.youtube.com/embed/gc_gpICFL74" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                    <p><span>Joanne Klaver - </span><span> President</span></p>
                    <div class="history">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, dolorem veritatis.
                            Dolorum, natus aut repellendus fugiat dolores odit commodi dolor aliquid! Quas, in!
                            Voluptate consequuntur facilis fuga rerum, ducimus placeat.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas laudantium animi est
                            quidem natus facilis libero voluptatum aspernatur perspiciatis laborum saepe quae nihil
                            at, facere labore ab recusandae eos. Quaerat.</p>
                    </div>
                </li>
                <li>
                    <div class="videoDiv">
                        <iframe src="https://www.youtube.com/embed/gc_gpICFL74" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                    <p><span>Anton Sammons - </span><span> Chairperson</span></p>
                    <div class="history">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, dolorem veritatis.
                            Dolorum, natus aut repellendus fugiat dolores odit commodi dolor aliquid! Quas, in!
                            Voluptate consequuntur facilis fuga rerum, ducimus placeat.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas laudantium animi est
                            quidem natus facilis libero voluptatum aspernatur perspiciatis laborum saepe quae nihil
                            at, facere labore ab recusandae eos. Quaerat.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>