<div class="section" id="donateSection">
  <div class="subSection">
    <h2>Commodi repudiandae consequuntur voluptatum laborum.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum
      laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga
      praesentium optio.
    </p>
    <div class="row">
      <div class="cell">
        <h5>Frequency</h5>
        <select name="frequency" required>
          <option value="once">once-off</option>
          <option value="monthly">monthly</option>
          <option value="fortnightly">fortnightly</option>
          <option value="weekly">weekly</option>
        </select>
      </div>
      <div class="cell">
        <h5>Amount</h5>
        <input type="number" name="amount" required />
      </div>
      <div class="cell">
        <h5>Comment <span>(optional)</span></h5>
        <input type="text" name="comment" />
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <h5>First name <span>(optional)</span></h5>
        <input type="text" name="first_name" />
      </div>
      <div class="cell">
        <h5>Last name <span>(optional)</span></h5>
        <input type="text" name="last_name" />
      </div>
      <div class="cell">
        <h5>Email <span>(optional)</span></h5>
        <input type="email" name="email" />
      </div>
    </div>
    <p>
      Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur
      voluptatum laborum numquam blanditiis harum quisquam eius sed odit
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum
      laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga
      praesentium optio.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="ctaBtn01">
      <p>Proceed to payment</p>
    </div>
  </div>
</div>
