<div class="section" id="donateSection">
    <div class="subSection">
        <div class="welcome">
            <h3>Donate to :</h3>
            <h2>SLIT.Org</h2>
            <div></div>
        </div>
        <ul class="options">
            <li>
                <svg>
                    <g id="Layer2">
                        <path
                            d="M10.5,18l-4.5,0c-0.276,0 -0.5,0.224 -0.5,0.5l0,10c0,0.276 0.224,0.5 0.5,0.5l20,0c0.276,0 0.5,-0.224 0.5,-0.5l-0,-10c0,-0.276 -0.224,-0.5 -0.5,-0.5l-4.5,0l0,-1.5c0,-0.276 -0.224,-0.5 -0.5,-0.5l-10,-0c-0.276,-0 -0.5,0.224 -0.5,0.5l-0,1.5Zm15,1l0,9c-0,0 -19,0 -19,0c0,0 0,-9 0,-9l19,0Zm-5,-2l-0,1c-0,0 -9,0 -9,0c-0,0 -0,-1 -0,-1l9,-0Zm-4.5,-6.5c-1.38,0 -2.5,1.117 -2.5,2.5c0,1.383 1.12,2.5 2.5,2.5c1.38,0 2.5,-1.117 2.5,-2.5c0,-1.383 -1.12,-2.5 -2.5,-2.5Zm0,1c0.828,0 1.5,0.671 1.5,1.5c0,0.83 -0.672,1.5 -1.5,1.5c-0.828,0 -1.5,-0.67 -1.5,-1.5c0,-0.829 0.672,-1.5 1.5,-1.5Zm6.5,-6.484l-8.409,-0c-0.378,-0 -0.743,0.143 -1.02,0.4l-3.742,3.407c-0.324,0.299 -0.54,0.7 -0.54,1.143c-0,0.884 0.792,1.639 1.809,1.639c0.456,-0 0.913,-0.166 1.225,-0.414c0.232,-0.184 2.808,-1.843 3.348,-2.191l3.422,-0.002l-0.115,0.092c-0.324,0.299 -0.54,0.699 -0.54,1.142c-0,0.885 0.792,1.639 1.808,1.639c0.456,0 0.914,-0.166 1.226,-0.414c0.139,-0.11 0.916,-0.792 1.623,-1.415c0.213,0.569 0.762,0.974 1.405,0.974l2,-0c0.276,-0 0.5,-0.224 0.5,-0.5l0,-7.016c0,-0.133 -0.053,-0.261 -0.147,-0.354c-0.095,-0.094 -0.222,-0.147 -0.355,-0.146c-0,0 -1.132,0.005 -2.005,0.009c-0.826,0.004 -1.493,0.675 -1.493,1.5l0,0.507Zm0,1l-8.409,-0c-0.127,-0 -0.249,0.048 -0.341,0.134l-3.744,3.409c-0.118,0.109 -0.217,0.245 -0.217,0.407c-0,0.373 0.379,0.639 0.809,0.639c0.223,-0 0.45,-0.075 0.603,-0.197c0.265,-0.211 3.56,-2.331 3.576,-2.34c0.01,-0.007 0.118,-0.068 0.224,-0.068l4.999,-0.003c0.276,-0 0.5,0.224 0.5,0.5c0,0.131 -0.05,0.25 -0.133,0.34c-0.006,0.019 -1.223,0.999 -1.23,1.006c-0.11,0.106 -0.199,0.236 -0.199,0.389c-0,0.374 0.379,0.639 0.808,0.639c0.224,0 0.45,-0.075 0.604,-0.197c0.174,-0.139 1.38,-1.201 2.15,-1.882l0,-2.776Zm3,-2.014l0,6.014c0,-0 -1.5,-0 -1.5,-0c-0.276,-0 -0.5,-0.224 -0.5,-0.5c0,-0 0,-5.007 0,-5.007c0,-0.275 0.222,-0.498 0.498,-0.5l1.502,-0.007Z"
                            id="Charity" />
                    </g>
                </svg>
                <b>Tax eligible - </b> <span>Get a 33% New Zealand charitable giving tax credit on donations over
                    $5</span>
            </li>
        </ul>
        <h4>Donation frequency</h4>
        <ul class="options">
            <li>one-off</li>
            <li>Monthly</li>
            <li>Fortnightly</li>
            <li>Weekly</li>
        </ul>
        <h4>Donation Amount</h4>
        <p class="mediumParagraph">Amount(NZD)$</p>
        <input type="number" id="amountInput">
        <div class="hiding"><input type="radio" name="hide" class="radio"><label for="hide">Hide the donation amount
                from public
                view</label></div>
        <div class="topUp">
            <p class="mediumParagraph">Add Top-Up donation</p>
            <div class="choose yesorno">
                <input type="radio" name="rr" class="radio"><label for="rr">Yes</label>
                <input type="radio" name="rr" class="radio"><label for="rr">No</label>
            </div>
            <div class="moreInfo">
                <svg viewBox="0 0 24 24">
                    <g>
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z" />
                    </g>
                </svg>
                <p>How top-ups work</p>
            </div>
        </div>
        <div class="topUp">
            <p class="mediumParagraph">Add Top-Up donation</p>
            <div class="choose yesorno">
                <input type="radio" name="ra" class="radio"><label for="ra">Yes</label>
            </div>
            <div class="moreInfo">
                <svg viewBox="0 0 24 24">
                    <g>
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z" />
                    </g>
                </svg>
                <p>How top-ups work</p>
            </div>
        </div>
        <div class="commentDiv">
            <h4>Donation message</h4>
            <p>Comment(optional)</p>
            <textarea name="textComment" id="textComment"></textarea>
        </div>
        <div class="topUp">
            <p class="mediumParagraph">Add Top-Up donation</p>
            <div class="choose choose2">
                <div><input type="radio" name="rm" class="radio"><label for="rm">Credit card or Debit card (Visa or
                        Mastercard)</label for="rm"></div>
                <div><input type="radio" name="rm" class="radio"><label for="rm">Internet banking (NZ banks
                        only)</label for="rm"></div>
                <div><input type="radio" name="rm" class="radio"><label for="rm">Givealittle voucher</label for="rm">
                </div>
                <div><input type="radio" name="rm" class="radio"><label for="rm">Givealittle Wallet (<a>login
                            required</a>)</label for="rm"></div>
            </div>
        </div>
        <div class="receipt">
            <h4>Receipt details</h4>
            <p>Your first name</p>
            <input type="text" class="texts">
            <p>Your last name</p>
            <input type="text" class="texts">
            <p>Email for receipt</p>
            <input type="email" class="texts">
            <div class="choose choose2">
                <div><input type="radio" name="rx" class="radio"><label for="rx">Credit card or Debit card (Visa or
                        Mastercard)</label></div>
                <div><input type="radio" name="rx" class="radio"><label for="rx">Internet banking (NZ banks
                        only)</label></div>
            </div>
            <h4>Name on the page</h4>
            <div class="choose choose2">
                <div><input type="radio" name="rz" class="radio"><label for="rz">Credit card or Debit card (Visa or
                        Mastercard)</span></div>
                <div><input type="radio" name="rz" class="radio"><label for="rz">Internet banking (NZ banks
                        only)</label></div>
                <div><input type="radio" name="rz" class="radio"><label for="rz">Internet banking (NZ banks
                        only)</label></div>
            </div>
            <div class="agreement">
                <button>Proceed to Payment</button>
                <p>By continuing, you agree to<a> Givealittle's Terms and Conditions</a></p>
                <p>Our payment processing is provided by Windcave and the next screen will be theirs. To verify that
                    the credit card is
                    yours they may ask you questions about it, in a process known as 3D-Secure.</p>
                <p>Givealittle does not store your credit card or internet banking details.</p>
            </div>
        </div>
    </div>
</div>