<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>slit.org.zw</title>
    <link rel="stylesheet" href="css/00_common/common.css" />
    <link rel="stylesheet" href="css/00_common/common_mq.css" />
    <link rel="stylesheet" href="css/01_navbar/navbar.css" />
    <link rel="stylesheet" href="css/01_navbar/navbar_mq.css" />
    <link rel="stylesheet" href="css/05_footer/footer.css" />
    <link rel="stylesheet" href="css/05_footer/footer_mq.css" />
