<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lessons 2 </title>
    <link rel="stylesheet" href="css/00_common/common.css">
    <link rel="stylesheet" href="css/00_common/common_mq.css">
    <link rel="stylesheet" href="css/06_lessons/lessons.css">
    <link rel="stylesheet" href="css/06_lessons/lessons_mq.css">
</head>

<body>
    <div class="section" id="lessonsSection">
        <svg id="leftArrow" viewBox="0 0 16 16">
            <path
                d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M10.354,12.646l-0.707,0.707L4.293,8l5.354-5.354  l0.707,0.707L5.707,8L10.354,12.646z" />
        </svg>
        <div class="subSection subSection1">
            <div class="imageDiv">
                <img src="Media/05_lessons/slide1a.webp">
            </div>
            <h4>The contents of the Bible make it a unique book. In this lesson, we’ll look at three of its outstanding
                features:</h4>
            <ol>
                <li>Reliable Guidance For Everyday</li>
                <li>A Sure Hope For The Future</li>
                <li>Accurate Prophecy</li>
            </ol>
        </div>
        <div class="mobileNavigation">
            <div>
                <svg id="alignedSvg" viewBox="0 0 16 16">
                    <path
                        d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M10.354,12.646l-0.707,0.707L4.293,8l5.354-5.354  l0.707,0.707L5.707,8L10.354,12.646z" />
                </svg>
                <p>Go Back</p>
            </div>
            <div>
                <p>Continue</p>
                <svg id="rightreplacementArrow" viewBox="0 0 16 16">
                    <path
                        d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M6.354,13.354l-0.707-0.707L10.293,8L5.646,3.354  l0.707-0.707L11.707,8L6.354,13.354z" />
                </svg>
            </div>
        </div>
        <svg id="rightreplacementArrow" viewBox="0 0 16 16">
            <path
                d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M6.354,13.354l-0.707-0.707L10.293,8L5.646,3.354  l0.707-0.707L11.707,8L6.354,13.354z" />
        </svg>
    </div>
    </div>
</body>

</html>