<div class="horizontalNav tabsLists">
  <span class="pageChoosen"><a href="/communication">Communication</a></span>
  <span><a href="/board">Board & Interpreters</a></span>
  <span><a href="/services">Services</a></span>
</div>

<div class="section" id="communicationSection">
  <div class="pageHero">
    <div class="contentContainer">
      <h2>Get hold of us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum,
        expedita earum minus provident.
      </p>
    </div>
    <div class="imageHeroContainer">
      <div class="imageDivider">
        <div class="communicationImgContainer">
          <img
            src="./Media/SLIT_IMAGES/WhatsApp Image 2024-07-16 at 21.21.51.jpeg"
            alt=""
          />
        </div>
      </div>
      <div class="coloredPortion"></div>
    </div>
  </div>
  <div class="subSection">
    <div class="gHOption">
      <h3>Contacts</h3>
      <div class="gHOptionsContainer" id="gHOptionsContainer_contact">
        <span>
          <svg viewBox="0 0 24 24">
            <path
              d="M20 10.999h2C22 5.869 18.127 2 12.99 2v2C17.052 4 20 6.943 20 10.999z"
            />
            <path
              d="M13 8c2.103 0 3 .897 3 3h2c0-3.225-1.775-5-5-5v2zm3.422 5.443a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696z"
            />
          </svg>
        </span>
        <span>0773 410 624</span>
        <span>0292 880 521</span>
      </div>
    </div>
    <div class="gHOption">
      <h3>Our Socials</h3>
      <div class="gHOptionsContainer">
        <span
          ><svg viewBox="0 0 48 48">
            <path
              d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"
              fill="#4caf50"
            />
            <path
              d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"
              fill="#1e88e5"
            />
            <polygon
              fill="#e53935"
              points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"
            />
            <path
              d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z"
              fill="#c62828"
            />
            <path
              d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z"
              fill="#fbc02d"
            /></svg
          ><a href="/slit/email">interpreter@slit.org.zw</a>
        </span>
        <span>
          <svg viewBox="0 0 64 64">
            <defs>
              <style>
                .cls-1 {
                  fill: url(#linear-gradient);
                }

                .cls-2 {
                  fill: #fff;
                }
              </style>
              <linearGradient
                gradientUnits="userSpaceOnUse"
                id="linear-gradient"
                x1="32"
                x2="32"
                y1="4"
                y2="64.81"
              >
                <stop offset="0" stop-color="#1df47c" />
                <stop offset="0.31" stop-color="#12df63" />
                <stop offset="0.75" stop-color="#05c443" />
                <stop offset="1" stop-color="#00ba37" />
              </linearGradient>
            </defs>
            <title />
            <g data-name="23-whatsapp" id="_23-whatsapp">
              <rect class="cls-1" height="64" rx="11.2" ry="11.2" width="64" />
              <path
                class="cls-2"
                d="M27.42,21.38l2,5.43a.76.76,0,0,1-.1.74,10.32,10.32,0,0,1-1.48,1.71.8.8,0,0,0-.16,1.09C28.91,32,32.1,36,36.25,37.43a.79.79,0,0,0,.89-.29l1.66-2.21a.8.8,0,0,1,1-.23L45,37.3a.79.79,0,0,1,.4,1c-.57,1.62-2.36,5.57-6.19,4.93A20.79,20.79,0,0,1,26.4,36c-3.14-3.92-9.34-14,.19-15.14A.8.8,0,0,1,27.42,21.38Z"
              />
              <path
                class="cls-2"
                d="M33.6,54.8a24.21,24.21,0,0,1-11.94-3.13l-12,3.08,4.41-9.91A22,22,0,0,1,10,32C10,19.43,20.59,9.2,33.6,9.2S57.2,19.43,57.2,32,46.61,54.8,33.6,54.8ZM22.29,47.37l.73.45a20.13,20.13,0,0,0,10.58,3c10.81,0,19.6-8.43,19.6-18.8S44.41,13.2,33.6,13.2,14,21.63,14,32a18.13,18.13,0,0,0,4,11.34l.75.95-3.61,6.12Z"
              />
            </g>
          </svg>
          <a href="/slit/whatsapp">0773 410 624</a></span
        >
        <span>
          <svg viewBox="0 0 18 18">
            <path
              d="M3 1a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H3Zm6.55 16v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h-2.5Z"
              fill="#4167B2"
            ></path>
          </svg>
          <a href="/slit/facebook">Slit Org </a></span
        >
        <span
          ><svg viewBox="0 0 24 24">
            <g>
              <polygon
                points="12.153992,10.729553 8.088684,5.041199 5.92041,5.041199 10.956299,12.087097 11.59021,12.97345    15.900635,19.009583 18.068909,19.009583 12.785217,11.615906  "
              />
              <path
                d="M21.15979,1H2.84021C1.823853,1,1,1.823853,1,2.84021v18.31958C1,22.176147,1.823853,23,2.84021,23h18.31958   C22.176147,23,23,22.176147,23,21.15979V2.84021C23,1.823853,22.176147,1,21.15979,1z M15.235352,20l-4.362549-6.213013   L5.411438,20H4l6.246887-7.104675L4,4h4.764648l4.130127,5.881958L18.06958,4h1.411377l-5.95697,6.775635L20,20H15.235352z"
              />
            </g>
          </svg>
          <a href="/slit/twitter">@slitOrg</a></span
        >
        <span
          ><svg viewBox="0 0 512 512">
            <defs>
              <style>
                .cls-1 {
                  fill: url(#Nepojmenovaný_přechod_27);
                }

                .cls-2 {
                  fill: #fff;
                }
              </style>
              <linearGradient
                gradientUnits="userSpaceOnUse"
                id="Nepojmenovaný_přechod_27"
                x1="328.27"
                x2="183.73"
                y1="508.05"
                y2="3.95"
              >
                <stop offset="0" stop-color="#ffdb73" />
                <stop offset="0.08" stop-color="#fdad4e" />
                <stop offset="0.15" stop-color="#fb832e" />
                <stop offset="0.19" stop-color="#fa7321" />
                <stop offset="0.23" stop-color="#f6692f" />
                <stop offset="0.37" stop-color="#e84a5a" />
                <stop offset="0.48" stop-color="#e03675" />
                <stop offset="0.55" stop-color="#dd2f7f" />
                <stop offset="0.68" stop-color="#b43d97" />
                <stop offset="0.97" stop-color="#4d60d4" />
                <stop offset="1" stop-color="#4264db" />
              </linearGradient>
            </defs>
            <title />
            <rect
              class="cls-1"
              height="465.06"
              rx="107.23"
              ry="107.23"
              width="465.06"
              x="23.47"
              y="23.47"
            />
            <path
              class="cls-2"
              d="M331,115.22a66.92,66.92,0,0,1,66.65,66.65V330.13A66.92,66.92,0,0,1,331,396.78H181a66.92,66.92,0,0,1-66.65-66.65V181.87A66.92,66.92,0,0,1,181,115.22H331m0-31H181c-53.71,0-97.66,44-97.66,97.66V330.13c0,53.71,44,97.66,97.66,97.66H331c53.71,0,97.66-44,97.66-97.66V181.87c0-53.71-43.95-97.66-97.66-97.66Z"
            />
            <path
              class="cls-2"
              d="M256,198.13A57.87,57.87,0,1,1,198.13,256,57.94,57.94,0,0,1,256,198.13m0-31A88.87,88.87,0,1,0,344.87,256,88.87,88.87,0,0,0,256,167.13Z"
            />
            <circle class="cls-2" cx="346.81" cy="163.23" r="21.07" /></svg
          ><a href="/slit/instagram">slit_Org</a></span
        >
      </div>
    </div>
    <div class="gHOption" id="ourOffices">
      <h3>Our Offices</h3>
      <div class="contentContainer">
        <div class="left_Lock">
          <div class="svgRight_side">
            <svg viewBox="0 0 448 512">
              <path
                d="M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40z"
              />
            </svg>
          </div>
          <div class="svgLeft_side">
            <div class="gHOptionsContainer" id="gHOptionsContainer_offices">
              <span
                >4 Centernery Building, <br />
                9th Ave/ H CHitepo St, <br />Bulawayo, <br />Zimbabwe</span
              >
            </div>
          </div>
        </div>
        <div class="right_Lock">
          <div class="iframeContainer">
            <div class="loader"></div>
            <iframe
              frameborder="1px solid hsl(0,0%,90%)"
              src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3745.4906704682307!2d28.577987343005194!3d-20.155285711685192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-20.155290747597945!2d28.579661041452333!5e0!3m2!1sen!2szw!4v1723060411356!5m2!1sen!2szw"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
