<div class="section" id="interpretersSection">
    <div class="pageHero">
        <div class="contentContainer">
            <h2>Our Interpreters</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, expedita earum minus provident.
            </p>
        </div>
        <div class="imageHeroContainer">
            <div class="imageDivider">
                <div class="imageContainer">
                    <img src="./Media/SLIT_IMAGES/young-businesswoman-working-new-project.jpg" alt="">
                </div>
            </div>
            <div class="coloredPortion"></div>
        </div>
    </div>

    <div class="subSection">
        <div class="embededDiv">
            <h3>We interpret</h3>
            <ul class="from_languages">
                <p>From :</p>
                <li class="language">English</li>
                <li>Shona</li>
                <li>Ndebele</li>
                <li>Tonga</li>
            </ul>
            <ul class="from_languages">
                <p>To :</p>
                <li>Sign Language (Zimbabwe)</li>
            </ul>
        </div>
        <div class="embededDiv embededDiv_noBorder">
            <h3>Our Interpreters</h3>
            <ul class="translatorsDiv">
                <li>
                    <div class="translatorVideoFrame"><iframe src="https://www.youtube.com/embed/gc_gpICFL74"
                            frameborder="0" allowfullscreen></iframe></div>
                    <h5>Translator Name</h5>
                    <div class="experience">4 Years Studying Sign Language</div>
                </li>
                <li>
                    <div class="translatorVideoFrame"><iframe src="https://www.youtube.com/embed/gc_gpICFL74"
                            frameborder="0" allowfullscreen></iframe></div>
                    <h5>Translator Name</h5>
                    <div class="experience">4 Years Studying Sign Language</div>
                </li>
                <li>
                    <div class="translatorVideoFrame"><iframe src="https://www.youtube.com/embed/gc_gpICFL74"
                            frameborder="0" allowfullscreen></iframe></div>
                    <h5>Translator Name</h5>
                    <div class="experience">4 Years Studying Sign Language</div>
                </li>
                <li>
                    <div class="translatorVideoFrame"><iframe src="https://www.youtube.com/embed/gc_gpICFL74"
                            frameborder="0" allowfullscreen></iframe></div>
                    <h5>Translator Name</h5>
                    <div class="experience">4 Years Studying Sign Language</div>
                </li>
                <li>
                    <div class="translatorVideoFrame"><iframe src="https://www.youtube.com/embed/gc_gpICFL74"
                            frameborder="0" allowfullscreen></iframe></div>
                    <h5>Translator Name</h5>
                    <div class="experience">4 Years Studying Sign Language</div>
                </li>
                <li>
                    <div class="translatorVideoFrame"><iframe src="https://www.youtube.com/embed/gc_gpICFL74"
                            frameborder="0" allowfullscreen></iframe></div>
                    <h5>Translator Name</h5>
                    <div class="experience">4 Years Studying Sign Language</div>
                </li>
            </ul>
        </div>
    </div>
</div>