<div class="horizontalNav tabsLists">
  <span><a href="/courses">Online Lessons</a></span>
  <span><a href="/blogsAndNews"> News & Blogs</a></span>
  <span class="pageChoosen"><a href="/liveChat">Mentors Live Chart</a></span>
</div>
<div class="section" id="liveChart">
  <div class="subSection">
    <div class="message_container_FullWidth">
      <div class="right_Left_side_cont">
        <div class="left_sideIcons">
          <div class="iconMessage_container">
            <button class="iconMessage">
              <svg style="display: none" viewBox="0 0 32 32">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                    }
                  </style>
                </defs>
                <title />
                <path
                  d="M19,24H4L3.9966,8.9062l11.4341,7.9161a1.0008,1.0008,0,0,0,1.1386,0L28,8.9087,28,18h2V8a2.0027,2.0027,0,0,0-2-2H4A2.0023,2.0023,0,0,0,2,8V24a2.0027,2.0027,0,0,0,2,2H19ZM25.7986,8,16,14.7837,6.2014,8Z"
                />
                <circle cx="26" cy="24" r="4" />
                <rect
                  class="cls-1"
                  data-name="&lt;Transparent Rectangle&gt;"
                  height="32"
                  id="_Transparent_Rectangle_"
                  width="32"
                />
              </svg>
              <svg viewBox="0 0 66 66">
                <defs>
                  <style>
                    .cls-1,
                    .cls-2 {
                      fill: none;
                      stroke: #fff;
                      stroke-width: 2px;
                    }

                    .cls-1 {
                      stroke-miterlimit: 10;
                    }

                    .cls-2 {
                      stroke-linejoin: round;
                    }
                  </style>
                </defs>
                <title />
                <path d="M1,34A32,32,0,1,0,33,2,32,32,0,0,0,1,34Z" />
                <g id="Mail">
                  <rect
                    class="cls-1"
                    height="22.55"
                    rx="1.39"
                    ry="1.39"
                    width="30"
                    x="18"
                    y="23"
                  />
                  <path
                    class="cls-2"
                    d="M47.47,23.77L37.25,34.69a5.9,5.9,0,0,1-8.5,0L18.53,23.78"
                  />
                </g>
              </svg>
            </button>
            <button class="iconMessage" id="WhatsAppLink">
              <a href="https://wa.me/263774336549"></a>
              <svg viewBox="0 0 64 64">
                <defs>
                  <style>
                    .cls-11 {
                      fill: url(#linear-gradient);
                    }

                    .cls-21 {
                      fill: #fff;
                    }
                  </style>
                  <linearGradient
                    gradientUnits="userSpaceOnUse"
                    id="linear-gradient"
                    x1="32"
                    x2="32"
                    y1="4"
                    y2="64.81"
                  >
                    <stop offset="0" stop-color="#1df47c" />
                    <stop offset="0.31" stop-color="#12df63" />
                    <stop offset="0.75" stop-color="#05c443" />
                    <stop offset="1" stop-color="#00ba37" />
                  </linearGradient>
                </defs>
                <title />
                <g data-name="23-whatsapp" id="_23-whatsapp">
                  <rect
                    class="cls-11"
                    height="64"
                    rx="11.2"
                    ry="11.2"
                    width="64"
                  />
                  <path
                    class="cls-21"
                    d="M27.42,21.38l2,5.43a.76.76,0,0,1-.1.74,10.32,10.32,0,0,1-1.48,1.71.8.8,0,0,0-.16,1.09C28.91,32,32.1,36,36.25,37.43a.79.79,0,0,0,.89-.29l1.66-2.21a.8.8,0,0,1,1-.23L45,37.3a.79.79,0,0,1,.4,1c-.57,1.62-2.36,5.57-6.19,4.93A20.79,20.79,0,0,1,26.4,36c-3.14-3.92-9.34-14,.19-15.14A.8.8,0,0,1,27.42,21.38Z"
                  />
                  <path
                    class="cls-2"
                    d="M33.6,54.8a24.21,24.21,0,0,1-11.94-3.13l-12,3.08,4.41-9.91A22,22,0,0,1,10,32C10,19.43,20.59,9.2,33.6,9.2S57.2,19.43,57.2,32,46.61,54.8,33.6,54.8ZM22.29,47.37l.73.45a20.13,20.13,0,0,0,10.58,3c10.81,0,19.6-8.43,19.6-18.8S44.41,13.2,33.6,13.2,14,21.63,14,32a18.13,18.13,0,0,0,4,11.34l.75.95-3.61,6.12Z"
                  />
                </g>
              </svg>
            </button>
            <button class="iconMessage" id="telegramCallUs">
              <a href="https://t.me/Bongani_Sithole123"></a>
              <svg viewBox="0 0 512 512">
                <style type="text/css">
                  .st0 {
                    fill: url(#SVGID_1_);
                  }

                  .st1 {
                    fill: #ffffff;
                  }

                  .st2 {
                    fill: #d2e4f0;
                  }

                  .st3 {
                    fill: #b5cfe4;
                  }
                </style>
                <g>
                  <linearGradient
                    gradientUnits="userSpaceOnUse"
                    id="SVGID_1_"
                    x1="256"
                    x2="256"
                    y1="0"
                    y2="510.1322"
                  >
                    <stop offset="0" style="stop-color: #41bce7" />
                    <stop offset="1" style="stop-color: #22a6dc" />
                  </linearGradient>
                  <circle class="st0" cx="256" cy="256" r="256" />
                  <g>
                    <path
                      class="st1"
                      d="M380.6,147.3l-45.7,230.5c0,0-6.4,16-24,8.3l-105.5-80.9L167,286.7l-64.6-21.7c0,0-9.9-3.5-10.9-11.2    c-1-7.7,11.2-11.8,11.2-11.8l256.8-100.7C359.5,141.2,380.6,131.9,380.6,147.3z"
                    />
                    <path
                      class="st2"
                      d="M197.2,375.2c0,0-3.1-0.3-6.9-12.4c-3.8-12.1-23.3-76.1-23.3-76.1l155.1-98.5c0,0,9-5.4,8.6,0    c0,0,1.6,1-3.2,5.4c-4.8,4.5-121.8,109.7-121.8,109.7"
                    />
                    <path
                      class="st3"
                      d="M245.8,336.2l-41.7,38.1c0,0-3.3,2.5-6.8,0.9l8-70.7"
                    />
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <div class="right_side_Content">
          <form
            action="https://formsubmit.co/bonganibgsithole@gmail.com"
            method="POST"
          >
            <input name="name" placeholder="Name" type="text" required />
            <input
              name="email"
              type="email"
              placeholder="Email e.g johndoe@gmail.com"
              required
            />
            <input name="subject" placeholder="Subject" type="text" required />
            <textarea
              placeholder="Your Message"
              name="msg"
              id="applyForEnterpreter_message"
            ></textarea>
            <input type="hidden" name="_captcha" value="false" />
            <div class="sendBtn">
              <button type="submit">
                <svg viewBox="0 0 24 24">
                  <g id="info" />
                  <g id="icons">
                    <path
                      d="M21.5,11.1l-17.9-9C2.7,1.7,1.7,2.5,2.1,3.4l2.5,6.7L16,12L4.6,13.9l-2.5,6.7c-0.3,0.9,0.6,1.7,1.5,1.2l17.9-9   C22.2,12.5,22.2,11.5,21.5,11.1z"
                      id="send"
                    />
                  </g>
                </svg>
                <span>Send Message</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
