#heroSection {
  padding: 50px 0;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#heroSection .subSection {
  float: left;
  width: 47%;
  padding-top: 40px;
  padding-bottom: 40px;
}
#heroSection .subSection div.container_content {
  width: 100%;
  height: auto;
  min-height: 250px;
  float: left;
}
#heroSection .subSection h1,
#heroSection .subSection p {
  color: white;
}
#heroSection .subSection h1 {
  margin-bottom: 27px;
}
#heroSection .subSection p {
  font-size: 22px;
}
#heroSection .btn_container {
  width: 100%;
  padding: 20px 0;
  float: left;
}
#heroSection .btn_container button {
  background-color: hsl(120, 80%, 10%);
  padding: 10px 13px;
  border-radius: 10px;
  border: 2px solid hsl(120, 80%, 10%);
  margin-right: 10px;
  font-size: 16px;
  color: hsl(120, 80%, 100%);
  display: flex;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}
#heroSection .btn_container button span {
  width: auto;
  height: auto;
  margin-right: 10px;
}
#heroSection .btn_container button svg {
  width: 45px;
  height: auto;
  fill: hsl(120, 80%, 100%);
}
#heroSection .btn_container button:hover {
  border: 2px solid hsl(120, 80%, 20%);
}
#heroSection .btn_container button:hover svg,
#heroSection .btn_container button:hover span {
  fill: hsl(120, 80%, 60%);
  color: hsl(120, 80%, 60%);
}
#heroSection #videoDiv {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: absolute; */
  right: 0;
  top: 0;
}
#heroSection #videoDiv iframe {
  width: 97%;
  min-height: 410px;
  border-radius: 5px;
  float: left;
}
#hero_explanation {
  padding: 50px 3%;
  background-color: hsl(120, 80%, 95%);
  background-size: auto 100%;
  background-repeat: repeat;
  background-image: url("../../../../Media/SLIT_IMAGES/fainter-background-image.png");
}
#hero_explanation .subSection {
  display: flex;
}
#hero_explanation .subSection .content_company_name {
  width: 50%;
  text-align: center;
  padding: 20px;
  color: hsl(120, 80%, 20%);
  margin-bottom: 0;
  border-right: 1px dotted hsl(120, 80%, 20%);
}
#hero_explanation .subSection .paragraph_container {
  width: 50%;
  padding: 20px;
}
#hero_explanation .subSection .paragraph_container p {
  color: hsl(120, 80%, 20%);
  font-size: 18px;
}
.absolutePage div.hero_book_interpreter {
  width: 100%;
  height: auto;
  padding: 15px 0 10px 0;
}
.absolutePage div.hero_book_interpreter .input_container {
  width: 100%;
  height: auto;
  padding: 15px 0;
}
.absolutePage
  div.hero_book_interpreter
  .input_container
  .input_input_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.absolutePage div.hero_book_interpreter .input_container label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
}
.absolutePage div.hero_book_interpreter .input_container select,
.absolutePage div.hero_book_interpreter .input_container input {
  padding: 9px 5px;
  width: 60%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  /* margin-right: 10px; */
  outline: 2px solid hsl(120, 80%, 20%);
}
.absolutePage div.hero_book_interpreter .input_container input#other_language {
  margin-top: 10px;
}
.absolutePage div.hero_book_interpreter .input_container .hide_input {
  display: none;
}
.absolutePage div.hero_book_interpreter .input_container select:focus,
.absolutePage div.hero_book_interpreter .input_container input:focus {
  background-color: hsl(120, 80%, 20%);
  color: hsl(120, 80%, 100%);
}
.absolutePage div.hero_book_interpreter .input_container input#request_time {
  width: auto;
}
.absolutePage div.hero_book_interpreter #book_interpreter_btn {
  width: auto;
  padding: 9px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(120, 80%, 35%);
  border: none;
  border-radius: 9px;
  margin-top: 15px;
}
.absolutePage div.hero_book_interpreter #book_interpreter_btn span {
  float: left;
  font-size: 15px;
  margin-right: 9px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.absolutePage div.hero_book_interpreter #book_interpreter_btn svg {
  float: left;
  width: 21px;
  height: 21px;
  fill: hsl(120, 50%, 100%);
}
