@media only screen and (max-width: 1096px) and (min-width: 700px) {
  #heroSection .subSection h2 {
    margin-top: 7px;
  }
}
@media only screen and (max-width: 1096px) {
  #heroSection {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }

  #heroSection #videoDiv {
    position: relative;
    float: left;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  #heroSection .subSection div {
    height: auto;
    width: 100%;
  }
  #heroSection .subSection {
    bottom: 0;
    padding-bottom: 0;
    top: unset;
    position: relative;
  }
  #heroSection .subSection p {
    padding-right: 0;
  }
}
