#heroSection {
  background-color: #36369e;
  overflow: auto;
  position: relative;
}
#heroSection #heroImageDiv {
  width: 54%;
  float: left;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #36369e;
  position: absolute;
  right: 0;
  top: 0;
}
#heroSection #heroImageDiv iframe {
  width: 100%;
  height: 397px;
}
#heroSection .subSection div {
  width: 46%;
  height: 420px;
  float: left;
}
#heroSection .subSection h2,
#heroSection .subSection p {
  color: white;
}
#heroSection .subSection p {
  font-size: 17px;
  padding-right: 24%;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: "Open Sans", sans-serif;
}
#heroSection .subSection button {
  height: 44px;
  margin-top: 21px;
  width: 54%;
  border-radius: 23px;
  border: none;
  background-color: white;
  font-size: 17px;
  font-weight: 600;
}
