#heroSection {
  overflow: auto;
  position: relative;
}
#heroSection,
#heroSection #videoDiv {
  background-color: #0e810e;
}
#heroSection .subSection {
  padding: 30px 0;
}
#heroSection .subSection div {
  width: 425px;
  height: 420px;
  float: left;
}
#heroSection .subSection h2,
#heroSection .subSection p {
  color: white;
}
#heroSection .subSection h2 {
  margin-bottom: 30px;
}
#heroSection .subSection p {
  font-size: 17px;
  margin-top: 15px;
  line-height: 27px;
}
#heroSection #videoDiv {
  width: 54%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
#heroSection #videoDiv iframe {
  width: 100%;
  height: 397px;
}
