#donateSection {
  margin-top: 30px;
  margin-bottom: 100px;
}
#donateSection .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#donateSection .row .cell {
  width: 30%;
  float: left;
  margin: 10px 0;
}
#donateSection .row .cell h5,
#donateSection .row .cell input,
#donateSection .row .cell select {
  width: 100%;
  float: left;
}
#donateSection .row .cell input,
#donateSection .row .cell select {
  height: 35px;
}
#donateSection .row .cell h5 span {
  font-size: 12px;
}
