@media only screen and (max-width: 1024px) {
  #donateSection {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 699px) {
  #donateSection .row .cell {
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #donateSection .row .cell {
    width: 49%;
    margin-right: 2%;
  }
  #donateSection .row .cell:nth-of-type(2),
  #donateSection .row .cell:nth-of-type(4),
  #donateSection .row .cell:nth-of-type(6) {
    margin-right: 0;
  }
  #donateSection .row .cell:nth-of-type(3) {
    margin-right: 2%;
  }
}
