<div class="horizontalNav tabsLists">
  <span class="pageChoosen"><a href="/signIn">Sign In</a></span>
  <span><a href="/signUp">Sign Up</a></span>
  <span><a href="/community">Our Community</a></span>
</div>
<div class="section" id="signInSection">
  <div class="signContainer subSection subSection_sign">
    <div class="containerContentSignIn">
      <div class="h2ContainerInsider">
        <h2>Log In Into Your Acount</h2>
      </div>
      <div class="inputsContainer">
        <form action="/singIn" id="slitSignIn">
          <div class="inputContainer">
            <label for="profile_email"></label>
            <input
              type="text"
              placeholder="Email"
              name="profile_email"
              id="profile_email"
            />
            <div class="inputMessageError"></div>
          </div>
          <div class="inputContainer">
            <label for="profile_password"></label>
            <input
              type="password"
              placeholder="Password"
              name="profile_password"
              id="profile_password"
            />
            <div class="inputMessageError"></div>
          </div>
          <button type="submit" class="submitInfoBtn">Submit</button>
        </form>
      </div>
      <div id="main-err-box"></div>
      <div class="signUpOption">
        <span><a href="/signUp"></a>Create new account</span>
      </div>
      <button class="iamEmployee">
        <a href="/employees/signIn"></a>
        <span>Sign In as Employeee</span>
      </button>
    </div>
    <div class="containerSignDetail">
      <div class="h2Container">
        <h2>Sign In to your account and</h2>
      </div>
      <div class="reasonsForSignCont">
        <ul>
          <li>1. Apply for Sign Language Interpretation</li>
          <li>2. Book and Guarrantee a seat at our festivals</li>
          <li>3. Resume your online lessons</li>
          <li>4. Donate, to our organisation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
