#footerSection {
  overflow: auto;
  background-color: #eef7fd;
  margin-top: 30px;
}
#footerSection .logoDiv {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  height: 100px;
  padding-left: 9%;
  background-color: #36369e;
}
#footerSection .logoDiv svg {
  fill: white;
}
#footerSection .navList {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
}
#footerSection .navList li {
  width: 25%;
  display: block;
  border: none;
  padding-right: 6%;
}
#footerSection .navList li .dropDownDiv {
  display: block;
}
#footerSection .navList li .dropDownDiv p {
  width: 100%;
  font-size: 18px;
  color: #36369e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
#footerSection .navList li svg {
  width: 14%;
}
#footerSection .footerLists {
  list-style: none;
  float: left;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
#footerSection .footerLists li {
  width: 100%;
  float: left;
  margin-bottom: 17px;
  font-weight: 100;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 15px;
}
#footerSection .footerLists li:hover {
  color: purple;
}
#footerSection #privateStatement {
  width: 100%;
  float: left;
  height: 50px;
  background-color: white;
  padding-left: 4%;
  padding-right: 4%;
  display: block;
  font-size: 14px;
  color: #737473;
  font-weight: 600;
  align-items: center;
}
#footerSection #privateStatement p:nth-of-type(1),
#footerSection #privateStatement p:nth-of-type(2) {
  width: auto;
  float: left;
}
#footerSection #privateStatement p:nth-of-type(2) {
  margin-left: 20px;
}
#footerSection #privateStatement p:nth-of-type(3) {
  float: right;
  width: auto;
}
#footerSection .navList li:nth-of-type(4) svg {
  margin-top: 9px;
  width: 33px;
  margin-bottom: 11px;
}
