#blogsAndNews .subSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
}
#blogsAndNews .mini_nav_option {
  width: 100%;
  padding: 10px 5% 0 5%;
  background-color: hsl(120deg, 50%, 96%);
  margin-top: 20px;
}
#blogsAndNews .mini_nav_option button {
  border: none;
  border-bottom: 4px solid transparent;
  padding: 8px 15px;
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
  color: hsl(120, 100%, 0%);
  background-color: transparent;
}
#blogsAndNews .mini_nav_option button:hover {
  border-bottom: 4px solid hsl(120, 100%, 20%);
}
#blogsAndNews .mini_nav_option button.focused_button {
  font-weight: 600;
  border-bottom: 4px solid hsl(120, 100%, 20%);
}
#blogsAndNews .pageHero .imageHeroContainer {
  float: left;
  padding: 10px;
}
#blogsAndNews .imageDivider {
  width: 60%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}
#blogsAndNews .imageDivider .communicationImgContainer {
  float: left;
  width: 100%;
  height: AUTO;
}
#blogsAndNews .imageDivider .imageContainer {
  float: left;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  height: auto;
}
#blogsAndNews .imageDivider img {
  width: 100%;
  float: left;
  height: auto;
}
#blogsAndNews .blogLists {
  float: left;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
}
#blogsAndNews .blogLists .contenInfomation,
#blogsAndNews .blogLists .imageDiv_Container {
  float: left;
  width: 70%;
  padding: 10px;
}
#blogsAndNews .blogLists .contenInfomation .containerview_more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 40px;
  width: 100%;
}
#blogsAndNews .blogLists .contenInfomation .containerview_more .view_more {
  float: left;
  width: auto;
  border: none;
  background-color: transparent;
  color: hsl(120, 100%, 30%);
  font-size: 16px;
  cursor: pointer;
  padding: 4px 8px;
  margin: 0;
  display: flex;
  align-items: center;
  border: 2px solid hsl(120, 100%, 30%);
  border-radius: 10px;
}
#blogsAndNews .blogLists .contenInfomation .containerview_more .view_more svg {
  width: 25px;
  fill: hsl(120, 100%, 30%);
  height: 25px;
  margin-left: 0px;
}
#blogsAndNews
  .blogLists
  .contenInfomation
  .containerview_more
  .view_more:hover {
  background-color: hsl(120, 100%, 30%);
  color: hsl(0, 0%, 100%);
}
#blogsAndNews
  .blogLists
  .contenInfomation
  .containerview_more
  .view_more:hover
  svg {
  fill: hsl(0, 0%, 100%);
}
#blogsAndNews .blogLists .contenInfomation h5 {
  width: auto;
  font-weight: 100;
  margin-bottom: 10px;
}
#blogsAndNews .blogLists .contenInfomation h4 {
  float: left;
  width: 100%;
  font-size: 28px;
  color: hsl(120, 50%, 45%);
  margin-bottom: 0px;
}
#blogsAndNews .blogLists .contenInfomation .explainInformation {
  float: left;
  width: 100%;
  height: auto;
}
#blogsAndNews .blogLists .contenInfomation .explainInformation p {
  float: left;
  width: 100%;
  margin: 0;
}
#blogsAndNews .blogLists .imageDiv_Container {
  float: left;
  display: flex;
  width: 31%;
  border: none;
  height: auto;
  overflow: hidden;
  margin-top: 25px;
  background: white;
  position: relative;
  align-items: center;
  justify-content: center;
}
#blogsAndNews .blogLists .imageDiv_Container.videoDiv_Container,
#blogsAndNews .blogLists .videoDiv_Container_content {
  width: 50% !important;
}
#blogsAndNews .blogLists .imageDiv_Container img,
#blogsAndNews .blogLists .imageDiv_Container iframe {
  float: left;
  width: 100%;
  height: auto;
}
#blogsAndNews .blogLists .imageDiv_Container iframe {
  height: 100%;
  width: 100%;
}
#blogsAndNews .blogLists .contenInfomation .blog_links {
  width: 100%;
  margin-top: 10px;
}
#blogsAndNews .blogLists .contenInfomation .blog_links li {
  margin-top: 5px;
}
#blogsAndNews .blogLists .contenInfomation .blog_links li a {
  color: hsl(200, 100%, 40%);
  text-decoration: none;
}
#blogsAndNews .blogLists .contenInfomation .blog_links li a:hover {
  color: hsl(200, 100%, 45%);
  text-decoration: underline;
}
#blogsAndNews .nextOrPrevious {
  float: left;
  width: 100%;
  border-top: 1px solid hsl(0, 0%, 90%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding: 10px 5%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}
#blogsAndNews .nextOrPrevious p {
  font-size: 18px;
  font-weight: 300;
  float: left;
  width: auto;
}
#blogsAndNews .nextOrPrevious button {
  float: left;
  cursor: pointer;
  width: auto;
  padding: 3px;
  border: none;
  background-color: hsl(0, 0%, 100%);
}
#blogsAndNews .nextOrPrevious button svg {
  float: left;
  width: 45px;
  height: 45px;
  fill: #0e810e;
}
#blogsAndNews .nextOrPrevious button:hover svg {
  fill: #13c55d;
}
#blogsAndNews .employee_subsection {
  display: flex;
  flex-direction: column;
}
#blogsAndNews .employee_subsection .mini_nav_option {
  padding: 10px 0 0 0;
  width: 60%;
}
#blogsAndNews .employee_subsection .content_type {
  width: 100%;
  padding: 10px 0;
}
#blogsAndNews .employee_subsection .content_type span {
  font-weight: 600;
}
#blogsAndNews .employee_subsection .container_lists .bn_lists_container {
  width: 60%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
}
#blogsAndNews
  .employee_subsection
  .container_lists
  .bn_lists_container
  .content_server {
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
#blogsAndNews .employee_subsection .container_lists {
  padding: 10px 0;
  width: 100%;
  min-height: 50vh;
}
#blogsAndNews .employee_subsection .container_lists .image_container {
  float: left;
  display: flex;
  width: 23%;
  border: none;
  height: auto;
  overflow: hidden;
  background: white;
  position: relative;
  align-items: center;
  justify-content: center;
}
#blogsAndNews .employee_subsection .container_lists .image_container img {
  float: left;
  width: 100%;
  height: auto;
}
#blogsAndNews .employee_subsection .container_lists .content_container {
  width: 75%;
}
#blogsAndNews .employee_subsection .container_lists .created_by {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#blogsAndNews
  .employee_subsection
  .container_lists
  .created_by
  .btns_container {
  width: auto;
}
#blogsAndNews
  .employee_subsection
  .container_lists
  .created_by
  .btns_container
  button {
  margin-left: 10px;
  padding: 7px 10px;
  position: relative;
}
#blogsAndNews .employee_subsection .add_new_nb_container {
  width: 100%;
  margin-bottom: 60px;
}
#blogsAndNews .employee_subsection .add_new_nb_container form {
  width: 50%;
  display: flex;
  padding: 10px 0;
  flex-direction: column;
}
#blogsAndNews .employee_subsection .add_new_nb_container form select,
#blogsAndNews .employee_subsection .add_new_nb_container form input,
#blogsAndNews .employee_subsection .add_new_nb_container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}
#blogsAndNews .employee_subsection .add_new_nb_container form textarea {
  min-height: 300px;
  resize: vertical;
}
#blogsAndNews .gallery_selection_inputs,
#blogsAndNews .other_links {
  width: 100%;
}
#blogsAndNews .other_links h5 {
  width: 100%;
  margin-bottom: 10px;
}
#blogsAndNews .gallery_selection_error_div {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
#blogsAndNews .gallery_selection_error_div p {
  margin: 0;
  padding: 0;
  color: hsl(0, 50%, 50%);
  font-size: 15px;
}
#blogsAndNews .other_links .other_links_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#blogsAndNews .other_links_lists {
  width: 100%;
  height: auto;
}
#blogsAndNews .other_links_lists li {
  padding: 5px 3px;
  border: none;
  min-height: auto;
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#blogsAndNews .other_links_lists li span {
  width: auto;
  position: relative;
  height: auto;
}
#blogsAndNews .other_links_lists li button {
  width: auto;
  height: auto;
  float: right;
}
#blogsAndNews .other_links .error_message {
  float: left;
  width: 100%;
}
#blogsAndNews .other_links .error_message span {
  width: 100%;
  color: hsl(0, 50%, 50%);
  font-size: 12px;
  margin: 10px 0;
}
#blogsAndNews .other_links .other_links_container .inputs_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
#blogsAndNews .other_links .other_links_container .inputs_container input {
  width: 49%;
  margin: 0;
}
#blogsAndNews
  .employee_subsection
  .add_new_nb_container
  form
  #submit_btn_container {
  width: 100%;
  margin: 20px 0;
}
#blogsAndNews
  .employee_subsection
  .add_new_nb_container
  form
  #submit_btn_container
  button {
  width: auto;
  padding: 10px;
}
#blogsAndNews .error_message {
  width: 100%;
  height: auto;
}
#blogsAndNews .error_message#main_error_message_div p {
  margin: 10px 0;
  background-color: hsl(0, 50%, 96%);
  padding: 10px;
  font-size: 15px;
  color: hsl(0, 50%, 50%);
}
#blogsAndNews .error_message#main_error_message_div.success_zone p {
  background-color: hsl(200, 50%, 96%);
  color: hsl(200, 50%, 50%);
}
#blogsAndNews .document_links {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
#blogsAndNews .document_links h5 {
  margin: 10px 0;
}
#blogsAndNews .document_links li {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#blogsAndNews .document_links li a {
  color: hsl(200, 50%, 50%);
}
#blogsAndNews .document_links li a:hover {
  color: hsl(200, 50%, 65%);
}
.absolutePage #blogsAndNews .blogLists {
  width: 100%;
  border: none;
}
