#navbarSection {
  overflow: auto;
  height: 100px;
}
#navbarSection .subSection,
#navbarSection .subSection #logoDiv,
#navbarSection .subSection #logoDiv img {
  height: 100%;
}
#navbarSection .subSection #logoDiv img {
  padding: 10px 0;
}
#navbarSection #navBtns {
  width: 50%;
  overflow: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
#navbarSection #navBtns li {
  width: 20%;
  height: 100%;
  overflow: auto;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#navbarSection #navBtns li:hover {
  background-color: #8e83831a;
  cursor: pointer;
}
#navbarSection #navBtns li .navbarPng {
  width: 34px;
  margin: 10px 0 5px 0;
}
#navbarSection #navBtns li .dropDownDiv {
  width: 100%;
  overflow: auto;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 25px;
}
#navbarSection #navBtns li .dropDownDiv p {
  width: auto;
  float: left;
  font-weight: 800;
  font-size: 13px;
  margin: 0;
}
#navbarSection #navBtns li .dropDownDiv svg {
  margin: 0;
  margin-left: 6px;
  width: 8px;
}
#navbarSection #hamburger {
  display: none;
}
#navbarSection .popUps {
  width: 100%;
  left: 0;
  float: left;
  padding: 0;
  min-height: 200px;
  position: absolute;
  display: none;
  z-index: 20 !important;
  top: 100px !important;
  background-color: white;
  border-top: 1px solid lightgray;
}
#navbarSection .popUps .subSection {
  display: flex;
  justify-content: space-between;
}
#navbarSection .popUps .iconName,
#navbarSection .popUps .iconSummary,
#navbarSection .popUps .shortCut {
  margin-top: 30px;
}
#navbarSection .popUps .shortCut {
  height: auto;
  width: 20%;
  list-style: none;
  float: left;
  padding: 0;
}
#navbarSection .popUps .shortCut li {
  width: 100%;
  float: left;
  padding-bottom: 10px;
  height: auto;
  border-bottom: 1px solid lightgray;
  padding-left: 5%;
  margin-top: 10px;
  text-align: right;
}
#navbarSection .popUps .shortCut li:hover {
  cursor: pointer;
}
#navbarSection .popUps .shortCut li a {
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  font-weight: 700;
}
#navbarSection .popUps .shortCut li:hover p {
  color: purple;
}
#navbarSection .iconName {
  width: 148px;
  float: left;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbb00;
  border-radius: 30px;
}
#navbarSection .iconName svg {
  width: 50%;
  fill: #0d1b2a;
}
#navbarSection .iconSummary {
  width: 50%;
  height: 100%;
  float: left;
}
#navbarSection .popUps h3 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
#navbarSection .popUps p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
}
#navbarSection .phonePopUp {
  display: none;
}
#navbarSection #logoDiv {
  width: 50%;
  height: auto;
  float: left;
}
#navbarSection #logoDiv svg {
  width: 160px;
  float: left;
}
#navbarSection #logoDiv svg:hover {
  cursor: pointer;
}
