@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #navbarSection #hamburger {
    display: none;
  }
  #navbarSection #hamburger img {
    width: 34px;
  }
  #navbarSection .navList li .dropDownDiv p {
    font-size: 14px;
  }
  #navbarSection .navList li svg {
    width: 32%;
  }
}
@media only screen and (max-width: 699px) {
  #navbarSection {
    height: 90px;
  }
  .show {
    display: block !important;
  }
  #navbarSection #navBtns {
    display: none;
  }
  #navbarSection .phonePopUp {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 10px;
    width: 50%;
    background-color: white;
    z-index: 20;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 5% 3%;
    box-shadow: #0b650b 0px 1px 9px -1px;
  }
  #navbarSection .phonePopUp li {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
  }
  #navbarSection .phonePopUp img {
    width: 27px;
    float: left;
    max-width: 30%;
  }
  #navbarSection .phonePopUp p {
    float: left;
    font-weight: 600;
    display: flex;
    font-size: 18px;
    width: 70%;
    margin-left: 38px;
  }
  #navbarSection .navList {
    display: none;
  }
  #navbarSection #hamburger {
    padding-top: 30px;
    padding-right: 20px;
    display: block;
    float: right;
  }
  #navbarSection #hamburger img {
    width: 30px;
    cursor: pointer;
  }
}
