@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #navbarSection .navList {
    display: block;
    width: 70.666666666666%;
  }
  #navbarSection .logoDiv {
    width: 29.33333333333%;
  }
  #navbarSection #hamburger {
    display: none;
  }
  #navbarSection #hamburger svg {
    width: 34px;
  }
  #navbarSection .navList li:nth-of-type(5) .dropDownDiv svg,
  #navbarSection .navList li .dropDownDiv svg {
    margin-top: 0px;
    width: 10px;
  }
  #navbarSection .navList li .dropDownDiv p {
    font-size: 14px;
  }
  #navbarSection .navList li svg {
    width: 32%;
  }
  @media only screen and (max-width: 942px) {
    #navbarSection .navList li .dropDownDiv p {
      width: 73%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
@media only screen and (max-width: 699px) {
  #navbarSection {
    height: 90px;
  }
  #navbarSection .popUps {
    display: none !important;
  }
  #navbarSection .navList {
    display: none;
  }
  #navbarSection #hamburger {
    padding-top: 34px;
    padding-right: 20px;
    display: block;
    float: right;
  }
  #navbarSection #hamburger svg {
    width: 34px;
    cursor: pointer;
  }
  #navbarSection .phonePopUp {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0px;
    width: 50%;
    height: 300px;
    background-color: white;
    z-index: 20;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 3% 5%;
    border: 1px solid lightgray;
  }
  .show {
    display: flex !important;
  }
  #navbarSection .phonePopUp li {
    width: 100%;
    float: left;
    height: auto;
    height: 25%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbarSection .phonePopUp li p {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #36369e;
    font-weight: 700;
  }
  #navbarSection .phonePopUp li svg {
    width: 34px;
    fill: #36369e;
    float: left;
    margin-right: 10px;
  }
  #navbarSection .phonePopUp li:nth-of-type(4) {
    border-bottom: none;
  }
}
