#navbarSection {
  overflow: auto;
  height: 90px;
}
/* #navbarSection .logoDiv {
  padding-top: 30px;
} */
#navbarSection .navList li {
  padding-bottom: 19px;
}
#navbarSection .navList li:hover {
  background-color: #8e83831a;
  cursor: pointer;
}
#navbarSection .navList li .dropDownDiv p {
  margin: 0;
}
#navbarSection .navList li .dropDownDiv svg {
  margin: 0;
  margin-left: 6px;
  width: 8px;
}
#navbarSection .navList li:nth-of-type(5) .dropDownDiv svg {
  fill: red;
  float: left;
  margin: 0;
  margin-left: 6px;
  width: 8px;
}
#navbarSection #hamburger {
  display: none;
}
#navbarSection .popUps {
  width: 100%;
  left: 0;
  float: left;
  padding: 0 10% 0 6%;
  min-height: 290px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  display: none;
  z-index: 20 !important;
  top: 90px !important;
  background-color: white;
  border-top: 1px solid lightgray;
}
#navbarSection .popUps .summaryContent,
#navbarSection .popUps .shortCut {
  width: 50%;
  float: left;
  height: auto;
}
#navbarSection .popUps .summaryContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#navbarSection .popUps .shortCut {
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
}
#navbarSection .popUps .shortCut li {
  width: 45%;
  float: left;
  padding-bottom: 10px;
  height: auto;
  border-bottom: 1px solid lightgray;
  margin-left: 5%;
  margin-top: 10px;
}
#navbarSection .popUps .shortCut li:hover {
  cursor: pointer;
}
#navbarSection .popUps .shortCut li a {
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #36369e;
  font-size: 15px;
  font-weight: 700;
}
#navbarSection .popUps .shortCut li:hover p {
  color: purple;
}
#navbarSection .iconName {
  width: 148px;
  float: left;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb060;
  border-radius: 30px;
}
#navbarSection .iconName svg {
  width: 50%;
  fill: #36369e;
}
#navbarSection .iconSummary {
  width: 50%;
  height: 100%;
  float: left;
  padding: 0% 0% 0% 4%;
}
#navbarSection .popUps h3 {
  font-size: 30px;
  font-weight: 600;
  color: #36369e;
  margin-bottom: 10px;
  cursor: pointer;
}
#navbarSection .popUps p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 100;
  color: black;
  line-height: 21px;
}
#navbarSection .phonePopUp {
  display: none;
}
