@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #navbarSection #hamburger {
    display: none;
  }
  #navbarSection #hamburger img {
    width: 34px;
  }
  #navbarSection .navList li .dropDownDiv p {
    font-size: 14px;
  }
  #navbarSection .navList li svg {
    width: 32%;
  }
  #navbarSection #navBtns li {
    overflow: hidden;
  }
}
@media only screen and (max-width: 699px) {
  #navbarSection {
    height: 90px;
  }
  .section_body_Cont {
    float: left;
    width: 100%;
  }
  #navbarSection .subSection {
    width: 100%;
  }
  .show {
    display: block !important;
  }
  #navbarSection #navBtns {
    display: none;
  }
  #navbarSection .phonePopUp {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 10px;
    width: 50%;
    background-color: white;
    z-index: 20;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0;
    box-shadow: #0b650b 0px 1px 9px -1px;
  }
  #navbarSection .phonePopUp li {
    position: relative;
    display: flex;
    padding: 8.5px 4%;
    align-items: center;
    justify-content: space-between;
  }
  #navbarSection .phonePopUp img {
    width: 27px;
    float: left;
    max-width: 30%;
  }
  #navbarSection .phonePopUp p {
    float: left;
    font-weight: 600;
    display: flex;
    font-size: 18px;
    width: 70%;
    text-decoration: none;
  }
  #navbarSection .subSection .logo_ham_cont {
    float: left;
    width: 100%;
  }
  #navbarSection #hamburger {
    display: block;
    float: right;
  }
  #navbarSection #hamburger img {
    width: 30px;
    cursor: pointer;
  }
}
