#navbarSection {
  overflow: auto;
  height: 100px;
}
#navbarSection .subSection,
#navbarSection .subSection #logoDiv,
#navbarSection .subSection #logoDiv img {
  height: 100%;
}
#navbarSection .subSection #logoDiv {
  width: 50%;
  float: left;
}
#navbarSection .subSection #logoDiv img {
  padding: 10px 0;
}
#navbarSection .phonePopUp {
  display: none;
}
#navbarSection #navBtns {
  width: 50%;
  overflow: auto;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
#navbarSection #navBtns li {
  width: 20%;
  height: 100%;
  overflow: auto;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#navbarSection #navBtns li:hover {
  background-color: #8e83831a;
  cursor: pointer;
}
#navbarSection #navBtns li img {
  width: 34px;
  margin: 10px 0 5px 0;
}
#navbarSection #navBtns li div {
  width: 100%;
  overflow: auto;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 25px;
}
#navbarSection #navBtns li div p {
  width: auto;
  float: left;
  font-weight: 800;
  font-size: 13px;
  margin: 0;
}
#navbarSection #navBtns li div svg {
  margin: 0;
  margin-left: 6px;
  width: 8px;
}
#navbarSection #hamburger {
  display: none;
}
#navbarSection .popUps {
  width: 100%;
  left: 0;
  float: left;
  padding: 0;
  min-height: 200px;
  position: absolute;
  display: none;
  z-index: 20 !important;
  top: 100px !important;
  background-color: white;
}
#navbarSection .popUps .subSection {
  display: flex;
  justify-content: space-between;
}
#navbarSection .popUps .popupIcon,
#navbarSection .popUps .popupText,
#navbarSection .popUps .popupLink {
  margin-top: 30px;
}
#navbarSection .popUps .popupIcon img {
  width: 65px;
}
#navbarSection .popUps .popupLink {
  height: auto;
  width: 20%;
  list-style: none;
  float: left;
  padding: 0;
}
#navbarSection .popUps .popupLink li {
  width: 100%;
  float: left;
  padding-bottom: 10px;
  height: auto;
  padding-left: 5%;
  margin-top: 10px;
  text-align: right;
}
#navbarSection .popUps .popupLink li:hover {
  cursor: pointer;
}
#navbarSection .popUps .popupLink li a {
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  font-weight: 700;
}
#navbarSection .popupIcon {
  width: 148px;
  float: left;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbb00;
  border-radius: 30px;
}
#navbarSection .popupText {
  width: 50%;
  height: 100%;
  float: left;
}
#navbarSection .popUps .popupText h3 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
#navbarSection .popUps .popupText p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
}
