<%- include("../../partials/12_header.ejs") %>
    <link rel="stylesheet" href="/css/23_employee/employee.css">
    </head>

    <body>
            <div class="section_body_Cont">
                <%- include("../../partials/employees/00_home.ejs") %>
                    <%- include("../../partials/05_footer.ejs") %>
            </div>
        
            <script src="/js/jquery.min.js"></script>
            <script src="/js/01_navbar/navbar.js"></script>
            <script src="/js/signing/sign.js"></script>
            <script src="/js/00_common/00_common.js"></script>
    </body>

    </html>