

<%- include("../../partials/12_header.ejs") %>
<link rel="stylesheet" href="/css/23_employee/employee.css">
<link rel="stylesheet" href="/css/00_library/00_quill/quill.core.css">
<link rel="stylesheet" href="/css/00_library/00_quill/quill.snow.css">
    </head>

    <body>
            <div class="section_body_Cont">
                <%- include("../../partials/employees/06_slide_New.ejs") %>
                    <%- include("../../partials/05_footer.ejs") %>
            </div>
        
            <script src="/js/00_libraries/Quill/highlight.min.js"></script>
            <script src="/js/00_libraries/Quill/quill.min.js"></script>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/01_navbar/navbar.js"></script>
            <script src="/js/signing/sign.js"></script>
    </body>