#lessonsSection {
  display: flex;
  overflow: auto;
  justify-content: space-evenly;
  align-items: center;
}
#lessonsSection .subSection {
  box-shadow: lightgrey -3px 7px 24px 2px;
  margin: 20px 0;
}
#lessonsSection .subSection .halfContent {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 60%;
  padding: 0 5%;
  flex-direction: column;
}
#lessonsSection svg {
  width: 3.5%;
  fill: #0e810e;
  cursor: pointer;
  float: left;
  min-width: 36px;
  margin: 0 2.25%;
}
#lessonsSection .mobileNavigation {
  display: none;
}
#lessonsSection svg:hover {
  fill: #0b650b;
}
#lessonsSection .subSection .imageDiv {
  width: 40%;
  float: left;
  position: relative;
  height: 500px;
  z-index: 5;
  overflow: hidden;
}
#lessonsSection .subSection img {
  height: 100%;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}
#lessonsSection .subSection1 {
  height: 500px;
}
#lessonsSection .subSection1 .imageDiv {
  width: 100%;
  height: 50%;
}
#lessonsSection .subSection1 .imageDiv img {
  width: 100%;
  height: unset;
}
#lessonsSection .subSection1 h4 {
  margin: 50px 0;
  padding: 0 4.7%;
  margin-bottom: 0;
  font-weight: 100;
}
#lessonsSection .subSection1 ol {
  width: 100%;
  padding: 0;
  float: left;
  font-size: 19px;
  padding: 0 6.5%;
}
#lessonsSection .subSection1 ol li {
  width: 100%;
  margin-top: 13px;
}
#lessonsSection .subSection3 {
  display: flex;
}
/* ended here */
#lessonsSection .subSection2 {
  height: 500px;
}
#lessonsSection .subSection2 .imageDiv {
  height: 420px;
  width: 100%;
  padding: 15px 3.8%;
}
#lessonsSection .subSection2 .imageDiv iframe {
  height: 100%;
  width: 100%;
}
#lessonsSection .subSection2 p {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 3.8%;
}
/* sub4 */
#lessonsSection .subSection4 {
  height: 500px;
  padding: 0;
}
#lessonsSection .subSection4 .imageDiv {
  width: 50%;
  height: 100%;
}
#lessonsSection .subSection4 .halfContent {
  display: block;
  padding: 25px 12%;
  padding-bottom: 4px;
}
#lessonsSection .subSection4 .halfContent p {
  border: none;
  width: auto;
  margin-top: 5px;
}
#lessonsSection .subSection4 .halfContent p:nth-of-type(2) {
  margin-top: 5px;
}
#lessonsSection .subSection4 .halfContent ol {
  list-style: none;
  float: left;
  color: #3b3bd1;
}
#lessonsSection .subSection4 .halfContent ol svg {
  width: 20px;
  float: left;
}
#lessonsSection .subSection4 ol {
  margin-top: 5px;
  padding-top: 15px;
  border-top: 1px solid lightgray;
}
#lessonsSection .subSection4 .halfContent ol li {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-bottom: 2px;
}
#lessonsSection .subSection4 .halfContent ol li:nth-of-type(1) {
  margin-bottom: 15px;
}
#lessonsSection .subSection4 h3 {
  margin-bottom: 20px;
}
#lessonsSection .subSection5 .halfContent ol {
  list-style: auto;
  color: black;
}
#lessonsSection .subSection5 .halfContent ol li b {
  margin-left: 5px;
}
#lessonsSection .subSection5 .halfContent ol li {
  display: list-item;
}
#lessonsSection .subSection5 .halfContent {
  display: flex;
}
#lessonsSection .subSection6 {
  flex-direction: column;
  padding: 60px 0;
  height: auto;
  justify-content: center;
}
#lessonsSection .subSection6 .imageDiv,
#lessonsSection .subSection6 .halfContent {
  width: 100%;
}
#lessonsSection .subSection6 .halfContent {
  padding: 25px 3%;
}
#lessonsSection .subSection6 .imageDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 200px;
  max-height: 120px;
  padding: 0 6%;
}
#lessonsSection .subSection6 .imageDiv img {
  width: 14%;
  height: unset;
  position: relative;
}
#lessonsSection .subSection6 .imageExplanation {
  float: left;
  width: 86%;
  padding: 0 6% 0 1%;
}
#lessonsSection .subSection6 .imageExplanation p {
  border: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#lessonsSection .subSection6 h3 {
  margin: 0;
  padding: 10px 0;
}
#lessonsSection .subSection6 ol {
  border: none;
  padding-left: 3%;
  padding-top: 0;
  padding-right: 3%;
}
#lessonsSection .subSection6 .halfContent ol li {
  width: 100%;
  cursor: pointer;
  min-height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #bfbfbf33;
  border: 1px solid lightgray;
  margin-bottom: 15px;
}
