#lessonsSection {
  display: flex;
  overflow: auto;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 14px;
  min-height: auto;
}
#lessonsSection .subSection {
  box-shadow: lightgrey -3px 7px 24px 2px;
  margin: 20px 0;
  width: 65%;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 8px;
  min-height: 70vh;
  padding: 30px 5%;
  /* max-height: 70vh; */
  overflow: auto;
}
#lessonsSection .subSection .edit_slide_btn {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
#lessonsSection .subSection .edit_slide_btn button {
  padding: 10px;
  cursor: pointer;
  position: relative;
}
#lessonsSection .subSection .halfContent {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 60%;
  padding: 0 5%;
  flex-direction: column;
}
#lessonsSection .slidingBtnsArrows {
  float: left;
  width: auto;
  height: auto;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: transparent;
  padding: 0;
  margin-top: 30vh;
}
#lessonsSection svg {
  fill: #0e810e;
  width: 100%;
  height: 100%;
  cursor: pointer;
  float: left;
}
#lessonsSection .mobileNavigation {
  display: none;
}
#lessonsSection svg:hover {
  fill: #0b650b;
}
#lessonsSection .subSection .imageDiv {
  width: 40%;
  float: left;
  position: relative;
  height: 500px;
  z-index: 5;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
#lessonsSection .subSection img {
  height: 100%;
  float: left;
  /* position: absolute; */
  left: 0;
  top: 0;
  /* z-index: -10; */
}
#lessonsSection .subSection1 {
  height: auto;
}
#lessonsSection .subSection1 .imageDiv {
  width: 100%;
  height: 53vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#lessonsSection .subSection1 .imageDiv img {
  width: 100%;
  height: auto;
}
#lessonsSection .subSection1 h4 {
  margin: 50px 0;
  padding: 0 4.7%;
  margin-bottom: 0;
  font-weight: 100;
}
#lessonsSection .subSection1 ol {
  width: 100%;
  padding: 0;
  float: left;
  font-size: 19px;
  padding: 0 6.5%;
}
#lessonsSection .subSection1 ol li {
  width: 100%;
  margin: 0;
  min-height: auto;
  padding: 0;
  margin-top: 13px;
  display: list-item;
  border: none;
  padding: 0;
  list-style: auto;
}
#lessonsSection .subSection3 {
  display: flex;
  flex-wrap: wrap;
}
/* ended here */
#lessonsSection .subSection2 .imageDiv {
  height: 420px;
  width: 100%;
  padding: 15px 3.8%;
  position: relative;
  border-radius: 5px;
}
#lessonsSection .subSection2 .imageDiv iframe {
  height: 100%;
  width: 100%;
}
#lessonsSection .subSection2 p {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 3.8%;
  font-size: 19px;
  font-weight: 600;
}
/* sub4 */
#lessonsSection .subSection4 {
  height: 500px;
  padding: 0;
}
#lessonsSection .subSection4 .imageDiv {
  height: 100%;
}
#lessonsSection .subSection4 .halfContent {
  display: block;
  padding: 25px 12%;
  padding-bottom: 4px;
}
#lessonsSection .subSection4 .halfContent p {
  border: none;
  width: auto;
}
#lessonsSection .subSection4 .halfContent p:nth-of-type(2) {
  margin-top: 5px;
}
#lessonsSection .subSection4 .halfContent ol {
  list-style: none;
  float: left;
  color: #3b3bd1;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#lessonsSection .subSection4 .halfContent ol svg {
  width: 20px;
  float: left;
}
#lessonsSection .subSection4 ol {
  margin-top: 5px;
  padding-top: 15px;
  border-top: 1px solid lightgray;
}
#lessonsSection .subSection4 .halfContent ol li {
  float: left;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 0;
  font-size: 18px;
  padding-bottom: 3px;
  padding: 0;
  min-height: auto;
  padding-bottom: 5px;
  border: none;
}
#lessonsSection .subSection4 .halfContent ol li a {
  width: auto;
  height: auto;
  position: relative;
}
#lessonsSection .subSection4 .halfContent ol li a:hover {
  color: hsl(200, 100%, 40%);
}
#lessonsSection
  .subSection4
  .halfContent
  ol.dig_deeper_links
  li:nth-of-type(1) {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#lessonsSection .subSection4 h3 {
  margin-bottom: 20px;
}
#lessonsSection .subSection5 .halfContent ol {
  list-style: auto;
  width: 100%;
  color: black;
}
#lessonsSection .subSection5 .halfContent ol li {
  display: list-item;
  overflow: visible;
}
#lessonsSection .subSection5 .halfContent {
  display: flex;
}
#lessonsSection .subSection6 {
  flex-direction: column;
  padding: 60px 0;
  height: auto;
  justify-content: center;
}
#lessonsSection .subSection6 .imageDiv,
#lessonsSection .subSection6 .halfContent {
  width: 100%;
}
#lessonsSection .subSection6 .halfContent {
  padding: 25px 3%;
}
#lessonsSection .subSection6 .imageDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 200px;
  max-height: 120px;
  padding: 0 6%;
}
#lessonsSection .subSection6 .imageDiv img {
  width: 14%;
  height: unset;
  position: relative;
}
#lessonsSection .subSection6 .imageExplanation {
  float: left;
  width: 86%;
  padding: 0 6% 0 1%;
}
#lessonsSection .subSection6 .imageExplanation p {
  border: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#lessonsSection .subSection6 h3 {
  margin: 0;
  padding: 10px 0;
}
#lessonsSection .subSection6 ol {
  border: none;
  padding-left: 3%;
  padding-top: 0;
  padding-right: 3%;
}
#lessonsSection .subSection6 .halfContent ol li {
  width: 100%;
  cursor: pointer;
  min-height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #bfbfbf33;
  border: 1px solid lightgray;
  margin-bottom: 15px;
}
.slit_lesson .edit_slide_btn {
  display: none !important;
}
