@media only screen and (max-width: 699px) {
  #lessonsSection {
    flex-direction: column;
  }
  #lessonsSection #alignedSvg {
    display: block !important;
  }
  #lessonsSection .subSection .imageDiv {
    float: left;
    width: 100%;
    height: 400px;
  }
  #lessonsSection #leftArrow,
  #lessonsSection #rightArrow {
    display: none !important;
  }
  #lessonsSection .mobileNavigation {
    display: flex;
    float: left;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgb(194, 181, 181);
    padding: 25px 0;
    margin-top: 20px;
  }
  #lessonsSection .mobileNavigation div {
    float: left;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  #lessonsSection .mobileNavigation div:nth-of-type(2) {
    justify-content: right;
  }
  #lessonsSection .mobileNavigation p,
  #lessonsSection .mobileNavigation svg {
    float: left;
  }
  #lessonsSection .mobileNavigation p {
    width: auto;
    margin: 0 10px;
  }
  #lessonsSection .subSection3 {
    flex-direction: column;
  }
  #lessonsSection .subSection3 .halfContent {
    width: 100%;
    padding: 20px;
  }
  #lessonsSection .subSection1 {
    height: auto;
  }
  #lessonsSection .subSection1 .imageDiv {
    height: 400px;
  }
  #lessonsSection .subSection1 .imageDiv img {
    height: 100%;
    width: unset;
  }
  #lessonsSection .subSection1 h4 {
    padding: 0 1.8%;
    margin-top: 10px;
  }
}
