@media only screen and (max-width: 1024px) {
  #aboutSection .siteMap {
    display: block;
    float: left;
  }
  #aboutSection .siteMap li {
    float: left;
    margin-bottom: 15px;
    height: 360px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #aboutSection .siteMap li {
    width: 49%;
  }
  #aboutSection .siteMap li:nth-of-type(1),
  #aboutSection .siteMap li:nth-of-type(3) {
    margin-right: 2%;
  }
}
@media only screen and (max-width: 699px) {
  #aboutSection .siteMap li {
    width: 100%;
  }
}
