@media only screen and (max-width: 699px) {
  #aboutSection,
  #aboutSection .subSection {
    height: auto;
    overflow: auto;
  }
  #aboutSection .navList li,
  #aboutSection .navList li .dropDownDiv {
    width: 100%;
    margin-bottom: 30px;
  }
  #aboutSection .navList li .dropDownDiv p:nth-of-type(2) {
    margin-bottom: 0;
    padding-right: 0;
    min-height: unset;
  }
  #aboutSection .navList li:nth-of-type(2),
  #aboutSection .navList li:nth-of-type(3) {
    margin: 0;
    margin-bottom: 30px;
  }
  #aboutSection .subSection h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #aboutSection .navList li:nth-of-type(2) {
    margin: 0;
    margin-left: 2%;
    margin-bottom: 20px;
  }
  #aboutSection .navList li {
    width: 49%;
    margin-bottom: 20px;
  }
  #aboutSection .navList li:nth-of-type(3) {
    margin: 0;
    margin-bottom: 20px;
    margin-right: 2%;
  }
  #aboutSection .navList li:nth-of-type(4) svg {
    width: 20%;
    float: left;
    margin-top: 23px;
    margin-left: 10%;
  }
  #aboutSection .navList li .learnMoreDiv svg {
    width: 8px;
  }
  #aboutSection .navList li .dropDownDiv p:nth-of-type(2) {
    min-height: unset;
  }
}
