#aboutSection {
  overflow: auto;
  padding: 20px 0;
}
#aboutSection h3 {
  margin: 25px 0;
}
#aboutSection .siteMap li img {
  width: 40px;
}
#aboutSection .siteMap li .blueTopLine {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: black;
}
