#coursesSection {
  margin-top: 30px;
  margin-bottom: 100px;
}
#coursesSection #progressText {
  font-size: 15px;
  margin-top: 30px;
}
#coursesSection #progressBar {
  width: 100%;
  float: left;
  height: 20px;
  background-color: #6685b74f;
}
#coursesSection .courseDiv {
  width: 100%;
  float: left;
}
#coursesSection .courseDiv h3 {
  margin-top: 30px;
}
#coursesSection .courseDiv h3 span {
  font-weight: normal;
}
#coursesSection .courseDiv ul {
  padding: 5px;
  justify-content: space-between;
  width: 100%;
  display: flex;
}
#coursesSection .courseDiv ul .lesson {
  position: relative;
  width: 47%;
  box-shadow: lightgrey -1px 2px 11px 1px;
  height: auto;
  cursor: pointer;
  float: left;
  padding: 17px 17px;
}
#coursesSection .courseDiv ul .lesson:hover h4 {
  text-decoration: underline;
}
#coursesSection .courseDiv ul .lesson:hover {
  box-shadow: lightgrey -1px 2px 6px 3px;
}
#coursesSection .courseDiv ul .lesson a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#coursesSection .courseDiv ul .lesson img {
  width: 100%;
}
#coursesSection ul .lesson {
  width: 100%;
  margin-top: 30px;
  float: left;
  font-size: 18px;
}
