@media only screen and (max-width: 699px) {
  #coursesSection .courseBtn p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  #coursesSection .chapterBoxes .chaptersHeading {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  #coursesSection .courseBtn {
    width: 33%;
  }
}
@media only screen and (max-width: 1115px) and (min-width: 700px) {
  @media only screen and (max-width: 880px) and (min-width: 700px) {
    #coursesSection .courseBtn {
      width: 25%;
    }
  }
  #coursesSection .courseBtn {
    width: 20%;
  }
  #coursesSection .chapterBoxes p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  #coursesSection .chapterBoxes .chaptersHeading {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
