@media only screen and (max-width: 699px) {
  #coursesSection .courseDiv ul {
    display: block;
  }
  #coursesSection .courseDiv ul .lesson {
    width: 100%;
    margin-bottom: 15px;
  }
  #coursesSection {
    margin-bottom: 30px;
  }
}
