#communicationSection .pageHero {
  margin-bottom: 15px;
}
#communicationSection .pageHero .imageHeroContainer {
  padding: 15px;
}
#communicationSection .pageHero .imageHeroContainer .imageDivider {
  float: left;
  background-color: transparent;
  box-shadow: none;
}
#communicationSection
  .pageHero
  .imageHeroContainer
  .imageDivider
  .communicationImgContainer {
  float: left;
  width: 60%;
}
#communicationSection
  .pageHero
  .imageHeroContainer
  .imageDivider
  .communicationImgContainer
  img {
  float: left;
  width: 100%;
  height: auto;
}
#communicationSection .gHOption {
  float: left;
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding-top: 25px;
  margin-bottom: 20px;
}
#communicationSection .gHOption#ourOffices .contentContainer {
  float: left;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  justify-content: flex-start;
}
#communicationSection .gHOption#ourOffices .contentContainer .right_Lock,
#communicationSection .gHOption#ourOffices .contentContainer .left_Lock {
  float: left;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#communicationSection .gHOption#ourOffices .contentContainer .right_Lock,
#communicationSection
  .gHOption#ourOffices
  .contentContainer
  .right_Lock
  .iframeContainer {
  float: left;
  width: 71%;
  height: 350px;
}
#communicationSection
  .gHOption#ourOffices
  .contentContainer
  .right_Lock
  .iframeContainer {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
#communicationSection
  .gHOption#ourOffices
  .contentContainer
  .right_Lock
  iframe {
  width: 100%;
  height: 100%;
  float: left;
}
#communicationSection .gHOption .svgRight_side {
  float: left;
  width: auto;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#communicationSection .gHOption .svgRight_side svg {
  float: left;
  width: 30px;
  height: 30px;
  fill: #068e06;
}
#communicationSection .gHOption .svgLeft_side {
  float: left;
  padding: 0 15px;
}
#communicationSection .gHOption#liveChart .gHOptionsContainer svg {
  fill: #089008;
}
#communicationSection .gHOption h4 {
  float: left;
  width: 100%;
}
#communicationSection .gHOption .gHOptionsContainer {
  float: left;
  width: 100%;
  margin: 0;
  margin: 20px 0;
}
#communicationSection .gHOption .gHOptionsContainer#gHOptionsContainer_contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#communicationSection .gHOption #gHOptionsContainer_contact span {
  float: left;
  width: auto;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 0;
}
#communicationSection .gHOption #gHOptionsContainer_contact span svg {
  fill: #089008;
}
#communicationSection .gHOption #gHOptionsContainer_offices span {
  font-size: 17px;
  margin-bottom: 5px;
  float: left;
  font-family: sans-serif;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
#communicationSection .gHOption .gHOptionsContainer span {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#communicationSection .gHOption#liveChart .gHOptionsContainer span button {
  background: linear-gradient(90deg, #0b650b 10%, #0e810e 40%);
  border-radius: 5px;
  border: none;
  padding: 8px 13px;
  cursor: pointer;
}
#communicationSection
  .gHOption#liveChart
  .gHOptionsContainer
  span
  button:hover {
  background: linear-gradient(90deg, #068e06 10%, #089008 40%);
}
#communicationSection .gHOption#liveChart .gHOptionsContainer span button a {
  color: hsl(0, 0%, 100%);
}
#communicationSection
  .gHOption#liveChart
  .gHOptionsContainer
  span
  button
  a:hover {
  text-decoration: unset;
}
#communicationSection .gHOption .gHOptionsContainer span svg {
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  fill: hsl(0, 100%, 0%);
}
#communicationSection .gHOption .gHOptionsContainer span a {
  float: left;
  width: auto;
  font-size: 16px;
  color: hsl(200, 100%, 40%);
  font-style: normal;
  text-decoration: none;
}
#communicationSection .gHOption .gHOptionsContainer span a:hover {
  color: hsl(200, 100%, 50%);
  cursor: pointer;
  text-decoration: underline;
}
#communicationSection .gHOption .gHOptionsContainer .applyBtn {
  border: none;
  background-color: hsl(200, 60%, 45%);
  padding: 8px 10px;
  border-radius: 5px;
  color: hsl(0, 100%, 100%);
  cursor: pointer;
}
#communicationSection .gHOption .gHOptionsContainer .applyBtn:hover {
  background-color: hsl(200, 60%, 48%);
}
