#chaptersSection .subSection {
  padding-left: 3px;
  padding-right: 3px;
  overflow: auto;
}
#chaptersSection h3 {
  float: left;
  width: 100%;
  margin-bottom: 0;
}
#chaptersSection p {
  font-size: 20px;
  float: left;
}
#chaptersSection p:nth-of-type(1) {
  width: 100%;
}
#chaptersSection .startCourseDiv {
  float: left;
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  height: 56px;
  color: white;
  background-color: #4a6da7;
}
#chaptersSection .startCourseDiv:hover {
  cursor: pointer;
}
#chaptersSection .startCourseDiv svg {
  width: 20px;
  height: auto;
  float: left;
  fill: white;
}
#chaptersSection .startCourseDiv p {
  width: auto;
  margin-right: 6px;
}
#chaptersSection .progressBar {
  float: left;
  width: 100%;
}
#chaptersSection .progressBar p {
  font-size: 16px;
  font-weight: 600;
}
#chaptersSection .progressBar #progress {
  width: 100%;
  float: left;
  height: 20px;
  background-color: #6685b74f;
}
#chaptersSection .chaptersNumber {
  width: 100%;
  float: left;
}
#chaptersSection .chaptersNumber .chaptersHeading {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}
#chaptersSection .chaptersNumber .chaptersHeading h4 {
  width: auto;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 5px;
}
#chaptersSection .chaptersNumber p {
  width: auto;
  float: left;
  font-size: 23px;
}
#chaptersSection .chapterBoxes {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  float: left;
  display: flex;
  padding: 0;
}
#chaptersSection .chapterBoxes li {
  width: 47%;
  box-shadow: lightgrey -1px 2px 11px 1px;
  height: auto;
  cursor: pointer;
  float: left;
  padding: 17px 17px;
  border-top: 10px solid #6685b74f;
}
#chaptersSection .chapterBoxes li:hover {
  box-shadow: gray -1px 2px 11px 1px;
}
#chaptersSection .chapterBoxes .imageDiv {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#chaptersSection .chapterBoxes .imageDiv img {
  width: 100%;
}
#chaptersSection .chapterBoxes .lesson {
  width: 100%;
  margin-top: 30px;
  float: left;
  font-size: 18px;
}
#chaptersSection .chapterBoxes .chaptersHeading {
  width: 100%;
  float: left;
  font-size: 22px;
  color: #4a6da7;
  margin-top: 17px;
  cursor: pointer;
}
#chaptersSection .chapterBoxes .chaptersHeading:hover {
  text-decoration: underline;
}
#chaptersSection .chapterBoxes p {
  float: left;
  text-decoration: none;
  width: 100%;
  font-size: 17px;
  cursor: pointer;
}
