@media only screen and (max-width: 1024px) {
  #footerSection .siteMap {
    display: block;
    float: left;
  }
  #footerSection .siteMap li {
    float: left;
  }
}
@media only screen and (max-width: 699px) {
  #footerSection .siteMap li {
    width: 100%;
    height: auto;
    padding-bottom: 35px;
  }
  #footerSection #logoRibbon img {
    height: 45px;
  }
  #footerSection #logoRibbon #byoWebsitesLogo {
    height: 28px;
  }
  @media only screen and (max-width: 378px) {
    #footerSection #logoRibbon img {
      height: 33px;
    }
    #footerSection #logoRibbon #byoWebsitesLogo {
      height: 21px;
    }
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #footerSection .siteMap li {
    width: 49%;
  }
  #footerSection .siteMap li:nth-of-type(1),
  #footerSection .siteMap li:nth-of-type(3) {
    margin-right: 2%;
  }
}
