#footerSection {
  overflow: auto;
  margin-top: 30px;
}
#footerSection #logoRibbon {
  width: 100%;
  padding: 0 9%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
#footerSection #logoRibbon img {
  height: 60%;
  cursor: pointer;
}
#footerSection #logoRibbon #byoWebsitesLogo {
  height: 32%;
}
#footerSection .siteMap {
  margin-top: 35px;
}
#footerSection .siteMap li {
  border: none;
  padding: 0;
  height: 300px;
}
#footerSection .siteMap li img {
  margin-bottom: 20px;
  width: 30px;
}
#footerSection .siteMap li a {
  display: block;
  margin-bottom: 13px;
  cursor: pointer;
}
