#footerSection {
  overflow: auto;
  margin-top: 30px;
}
#footerSection #logoRibbon {
  width: 100%;
  padding: 0 9%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  background-color: #0e810e;
}
#footerSection #logoRibbon h4 {
  display: inline-block;
}
#footerSection #logoRibbon img {
  height: 70%;
}
#footerSection .siteMap {
  margin-top: 35px;
}
#footerSection .siteMap li {
  border: none;
  padding: 0;
  height: 300px;
}
#footerSection .siteMap li img {
  margin-bottom: 0px;
  width: 30px;
}
#footerSection .siteMap li a {
  display: block;
  margin: 15px 0;
  cursor: pointer;
}
