#introductionSection {
  margin-top: 30px;
}
.subSection {
  overflow: auto;
}
#introductionSection h2 {
  float: left;
  width: 100%;
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#introductionSection h3 {
  float: left;
  width: 97%;
  font-size: 25px;
  font-weight: 600;
  color: gray;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#introductionSection .displayNav {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 12px 0;
}
#introductionSection .displayNav:hover {
  background-color: #0000ff3b;
  cursor: pointer;
}
#introductionSection #explanation {
  float: left;
  width: 100%;
}
#introductionSection #explanation svg {
  width: 2.5%;
  fill: blue;
  float: left;
}
#introductionSection #explanation .belowNav {
  width: 100%;
  overflow: auto;
  float: left;
  display: none;
}
.show {
  display: block !important;
}
#introductionSection #explanation .belowNav .introductionVideo,
#introductionSection #explanation .belowNav .explanationContent {
  width: 50%;
  float: left;
  height: 100px;
  height: 380px;
}
#introductionSection #explanation .belowNav .introductionVideo {
  display: flex;
  justify-content: start;
  align-items: center;
}
#introductionSection #explanation .belowNav .introductionVideo iframe {
  width: 85%;
  height: 85%;
}
#introductionSection #explanation .belowNav .explanationContent {
  padding: 50px 0;
}
#introductionSection #explanation .belowNav .explanationContent p {
  font-size: 20px;
  color: #030303;
}
