#boardSection .subSection {
  overflow: auto;
}
#boardSection .subSection .level {
  width: 100%;
  height: auto;
  overflow: auto;
  float: left;
}
#boardSection .subSection .level h5 {
  width: 100%;
  float: left;
  font-size: 23px;
  font-weight: 500;
}
#boardSection .subSection .level ul {
  list-style: none;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
#boardSection .subSection .level ul li {
  width: 50%;
  height: auto;
  float: left;
  padding-right: 60px;
  margin-bottom: 40px;
}
#boardSection .subSection .level ul li .videoDiv {
  width: 100%;
  height: 300px;
  overflow: hidden;
  float: left;
}
#boardSection .subSection .level ul li .videoDiv iframe {
  width: 100%;
  height: 100%;
}
#boardSection .subSection .level ul li p {
  width: 100%;
  float: left;
  font-size: 21px;
  margin: 0;
  padding: 10px;
}
#boardSection .subSection .level ul li p span {
  float: left;
}
#boardSection .subSection .level ul li button {
  height: 45px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  font-size: 17px;
  background-color: white;
  border: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  text-align: left;
  padding-left: 10px;
}
#boardSection .subSection .level ul li .history {
  width: 100%;
  float: left;
  display: none;
}
.showHistory {
  display: block !important;
}
.showBorder {
  border-bottom: none !important;
}
#boardSection .subSection .level ul li .history p {
  width: 100%;
  float: left;
  font-size: 16px;
}
