#boardSection {
  margin-top: 30px;
  margin-bottom: 100px;
}
#boardSection .subSection ul {
  display: flex;
  float: left;
  justify-content: space-between;
  margin-top: 40px;
}
#boardSection .subSection ul li {
  width: 47%;
  height: auto;
  float: left;
}
#boardSection .subSection ul li h4 {
  margin: 10px 0;
}
#boardSection .subSection ul li h4 span {
  font-weight: normal;
}
#boardSection .subSection ul li .videoDiv {
  width: 100%;
  height: 300px;
  overflow: hidden;
  float: left;
}
#boardSection .subSection ul li .videoDiv iframe {
  width: 100%;
  height: 100%;
}
