@media only screen and (max-width: 699px) {
  #boardSection .subSection ul {
    display: block;
  }
  #boardSection .subSection ul li {
    width: 100%;
    margin-bottom: 35px;
  }
  #boardSection {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
}
