@media only screen and (max-width: 699px) {
  #boardSection .subSection .level ul li {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #boardSection .subSection .level ul li .videoDiv {
    height: 240px;
  }
}
