<%- include("../../../partials/12_header.ejs") %>
    <link rel="stylesheet" href="/css/12_signIn/signIn.css">
    <link rel="stylesheet" href="/css/12_signIn/signIn_mq.css">
    <link rel="stylesheet" href="/css/13_signUp/signUp.css">
    <link rel="stylesheet" href="/css/13_signUp/signUp_mq.css">
    </head>

    <body>
            <div class="section_body_Cont">
                <%- include("../../../partials/signing/employee/01_employee_SignUp.ejs") %>
                    <%- include("../../../partials/05_footer.ejs") %>
            </div>
        
            <script src="/js/jquery.min.js"></script>
            <script src="/js/01_navbar/navbar.js"></script>
            <script src="/js/signing/sign.js"></script>
    </body>

    </html>