@media only screen and (max-width: 699px) {
  #interpretersSection .translatorVideoFrame,
  #interpretersSection .translatorVideoFrame iframe {
    float: left;
  }
  #interpretersSection .translatorVideoFrame iframe {
    width: auto;
    height: 100%;
  }
  #interpretersSection .translatorVideoFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 220px;
  }
  #interpretersSection .translatorsDiv li {
    float: left;
    width: 100%;
  }
  #interpretersSection .translatorsDiv li h5,
  #interpretersSection .translatorsDiv li .experience,
  #interpretersSection .translatorsDiv .translatorInAction {
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #interpretersSection .translatorsDiv li {
    width: calc(100% / 2);
  }
}
