<div class="subSection subSection1 subSection_Slides" id="C01L01S01">
    <div class="imageDiv">
        <img src="/Media/05_lessons/anotherBridge.jpg">
    </div>
    <h4>The contents of the Bible make it a unique book. In this lesson, we’ll look at three of its outstanding
        features:</h4>
    <ol>
        <li>Reliable Guidance For Everyday</li>
        <li>A Sure Hope For The Future</li>
        <li>Accurate Prophecy</li>
    </ol>
</div>