<div class="subSection subSection2 subSection_Slides" id="C01L01S02">
  <p>
    Many religions say that God’s name is God or Lord, but these are not names.
    They are just titles that identify his roles. Watch this video clip about
    God’s titles.
  </p>
  <div class="imageDiv">
    <iframe
      src="https://www.youtube.com/embed/gc_gpICFL74"
      frameborder="0"
      allowfullscreen></iframe>
  </div>
</div>
