<div class="subSection  subSection3 subSection4 subSection5 subSection_Slides" id="C01L01S04">
    <div class="imageDiv">
        <img src="/Media/05_lessons/slide1a.webp">
    </div>
    <div class="halfContent">
        <h3>Lesson Summary</h3>
        <ol class="halfLinks">
            <li>God, the Creator, has a <b>name​—Jehovah</b></li>
            <li>Jehovah God is a loving Father who cares about you</li>
        </ol>
    </div>
</div>