<div class="subSection  subSection3 subSection4 subSection6 subSection_Slides" id="C01L01S05">
    <div class="imageDiv_3 imageDiv imageDiv_4">
        <img src="/Media/05_lessons/slide1.jpg">
        <div class="imageExplanation">
            <h3>Dig Deeper</h3>
            <p>Suppose you would like to be God's friend.Pick the attitude that will mostly make you succeed
            </p>
        </div>
    </div>
    <div class="halfContent">
        <ol class="halfLinks">
            <li>Who made God?</li>
            <li>Has anyone ever seen God?</li>
            <li>Is God everywhere, or omnipresent?</li>
            <li>Real-life experience—He learned that God is a loving Father</li>
        </ol>
    </div>
</div>