<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The board Page</title>
    <link rel="stylesheet" href="../../public/css/00 common/common.css">
    <link rel="stylesheet" href="../../public/css/00 common/common_mq.css">
    <link rel="stylesheet" href="../../public/css/01 navbar/navbar.css">
    <link rel="stylesheet" href="../../public/css/01 navbar/navbar_mq.css">
    <link rel="stylesheet" href="../../public/css/10 board/board.css">
    <link rel="stylesheet" href="../../public/css/10 board/board_mq.css">
    <link rel="stylesheet" href="../../public/css/05 footer/footer.css">
    <link rel="stylesheet" href="../../public/css/05 footer/footer_mq.css">

</head>

<body>

    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/10 board/board.js"></script>
</body>

</html>