<%- include("../partials/12_header.ejs") %>
    <link rel="stylesheet" href="css/10_board/board.css">
    <link rel="stylesheet" href="css/10_board/board_mq.css">

    <body>
        <%- include("../partials/01_navbar.ejs") %>
            <%- include("../partials/10_board.ejs") %>
                <%- include("../partials/05_footer.ejs") %>
                    <script src="js/01_navbar/navbar.js"></script>

    </body>

    </html>