<%- include("../partials/12_header.ejs") %>
    <link rel="stylesheet" href="css/11_donate/donate.css">
    <link rel="stylesheet" href="css/11_donate/donate_mq.css">

    <body>
        <%- include("../partials/01_navbar.ejs") %>
            <%- include("../partials/11_donate.ejs") %>
                <%- include("../partials/05_footer.ejs") %>
                    <script src="js/01_navbar/navbar.js"></script>

    </body>

    </html>