    <%- include("../partials/12_header.ejs") %>
    <link rel="stylesheet" href="css/08_courses/courses.css">
    <link rel="stylesheet" href="css/08_courses/courses_mq.css">
    <body>
        <%- include("../partials/01_navbar.ejs") %>
        <%- include("../partials/08_courses.ejs") %>
        <%- include("../partials/05_footer.ejs") %>
        <script src="js/jquery.min.js"></script>
        <script src="js/01_navbar/navbar.js"></script>
        <script src="js/08_courses/courses.js"></script>
    </body>
</html>
