<%- include("../partials/12_header.ejs") %>
    <link rel="stylesheet" href="css/06_lessons/lessons.css">
    <link rel="stylesheet" href="css/06_lessons/lessons_mq.css">
    </head>

    <body>
        <%- include("../partials/01_navbar.ejs") %>
            <%- include("../partials/14_lesson.ejs") %>
                <%- include("../partials/05_footer.ejs") %>
                    <script src="js/jquery.min.js"></script>
                    <script src="js/01_navbar/navbar.js"></script>

    </body>

    </html>