#newsSection {
  margin: 20px 0;
}
#newsSection .subSection {
  overflow: auto;
}
#newsSection #newsImageDiv {
  width: 50%;
  float: left;
}
#newsSection #newsImageDiv img {
  width: 100%;
}
#newsSection #newsContent {
  width: 50%;
  float: left;
  padding: 0 0% 3% 3%;
}
#newsSection #newsContent h3 {
  font-size: 29px;
  margin-top: 2px;
  line-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Open Sans", sans-serif;
}
#newsSection #newsContent p {
  padding-right: 3%;
}
#newsSection #newsContent div {
  color: #36369e;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#newsSection #newsContent div:hover {
  text-decoration: underline;
}
#newsSection #newsContent div,
#newsSection #newsContent p {
  line-height: 24px;
}
