@media only screen and (max-width: 699px) {
  #newsSection #newsContent,
  #newsSection img {
    width: 100%;
  }
  #newsSection #newsContent {
    padding: 3% 0% 3% 0%;
  }
  #newsSection #newsContent p {
    color: #313131;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 700px) {
  #newsSection #newsContent p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
