#headingSection {
  margin-bottom: 0px;
}
#headingSection .subSection h4 {
  width: 100%;
  margin: 10px 0;
  height: auto;
}
#headingSection .exercisesProgress {
  list-style: none;
  padding: 0;
  margin: 5px 0;
  width: 100%;
  height: 6px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headingSection .exercisesProgress li {
  width: inherit;
  float: left;
  height: 100%;
  margin: 0 3px;
}
#headingSection .exercisesProgress li.covered {
  background-color: #0e810e;
}
#headingSection .exercisesProgress li.not_covered {
  background-color: hsl(0deg 0% 50% / 50%);
}
