#headingSection .subSection h4 {
  font-size: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#headingSection .exercisesProgress {
  height: 6px;
}
